<a href="https://colab.research.google.com/github/Yash1289/Book_Recommendations/blob/main/Book_Recommender_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [26]:
books_path = "/content/drive/MyDrive/Colab Notebooks/data_book_recommendation/Books.csv"
ratings_path = "/content/drive/MyDrive/Colab Notebooks/data_book_recommendation/Ratings.csv"
users_path = "/content/drive/MyDrive/Colab Notebooks/data_book_recommendation/Users.csv"

In [27]:
books_df = pd.read_csv(books_path , low_memory=False)
ratings_df = pd.read_csv(ratings_path , low_memory = False)
users_df = pd.read_csv(users_path , low_memory = False)

In [28]:
books_df.head(3)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...

In [29]:
ratings_df.head(3)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0

In [30]:
users_df.head(3)

   User-ID                         Location   Age
0        1               nyc, new york, usa   NaN
1        2        stockton, california, usa  18.0
2        3  moscow, yukon territory, russia   NaN

In [31]:
print(books_df.shape)
print(ratings_df.shape)
print(users_df.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [32]:
explicit_ratings_df = ratings_df[ratings_df["Book-Rating"] != 0]
explicit_userids = list(explicit_ratings_df["User-ID"].unique())
explicit_users_df = users_df[users_df["User-ID"].isin(explicit_userids)]

In [33]:
explicit_ratings_df = explicit_ratings_df.groupby("ISBN").filter(lambda x : len(x) >= 15)
explicit_ratings_df["ISBN"].value_counts()

0316666343    707
0971880107    581
0385504209    487
0312195516    383
0679781587    333
             ...
0375701427     15
0743456173     15
044022330X     15
0060191988     15
0679447156     15
Name: ISBN, Length: 3244, dtype: int64

In [34]:
explicit_ratings_df[explicit_ratings_df.duplicated(subset = ["User-ID" , "ISBN"])]

Empty DataFrame
Columns: [User-ID, ISBN, Book-Rating]
Index: []

In [35]:
explicit_ratings_df["User-ID"].nunique()

35378

In [36]:
books_ratings_df = pd.merge(explicit_ratings_df , books_df , on = ["ISBN"])

In [37]:
books_ratings_df["User-ID"].nunique()

34573

In [38]:
books_ratings_df[books_ratings_df["ISBN"].str.len() != 10 ]

Empty DataFrame
Columns: [User-ID, ISBN, Book-Rating, Book-Title, Book-Author, Year-Of-Publication, Publisher, Image-URL-S, Image-URL-M, Image-URL-L]
Index: []

In [39]:
users_books_ratings_df = pd.merge(books_ratings_df , explicit_users_df , on =["User-ID"])
users_books_ratings_df["User-ID"].nunique()

34573

In [40]:
users_books_ratings_df.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Location,Age
0,276744,038550120X,7,A Painted House,JOHN GRISHAM,2001,Doubleday,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,"torrance, california, usa",NaN
1,11676,038550120X,10,A Painted House,JOHN GRISHAM,2001,Doubleday,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,"n/a, n/a, n/a",NaN
2,11676,0671537458,8,Waiting to Exhale,Terry McMillan,1995,Pocket,http://images.amazon.com/images/P/0671537458.0...,http://images.amazon.com/images/P/0671537458.0...,http://images.amazon.com/images/P/0671537458.0...,"n/a, n/a, n/a",NaN
3,11676,0679776818,8,Birdsong: A Novel of Love and War,Sebastian Faulks,1997,Vintage Books USA,http://images.amazon.com/images/P/0679776818.0...,http://images.amazon.com/images/P/0679776818.0...,http://images.amazon.com/images/P/0679776818.0...,"n/a, n/a, n/a",NaN
4,11676,0684867621,3,The Girl Who Loved Tom Gordon : A Novel,Stephen King,1999,Scribner,http://images.amazon.com/images/P/0684867621.0...,http://images.amazon.com/images/P/0684867621.0...,http://images.amazon.com/images/P/0684867621.0...,"n/a, n/a, n/a",NaN

In [41]:
users_ratedBooks_count_df = users_books_ratings_df.groupby(['User-ID', 'ISBN']).size().groupby('User-ID').size()
print('# of users: %d' % len(users_ratedBooks_count_df))

users_with_enough_ratedBooks_df = users_ratedBooks_count_df[users_ratedBooks_count_df >= 15].reset_index()[['User-ID']]
print('# of users with at least 15 interactions: %d' % len(users_with_enough_ratedBooks_df))

# of users: 34573
# of users with at least 15 interactions: 1266

In [42]:
print('# of interactions: %d' % len(users_books_ratings_df))
ratings_from_selected_users_df = users_books_ratings_df.merge(users_with_enough_ratedBooks_df, 
               how = 'right',
               left_on = 'User-ID',
               right_on = 'User-ID')
print('# of interactions from users with at least 15 interactions: %d' % len(ratings_from_selected_users_df))

# of interactions: 112631
# of interactions from users with at least 15 interactions: 41252

In [43]:
dupilcate_books_index = ratings_from_selected_users_df[ratings_from_selected_users_df.duplicated( subset = ["User-ID" , "Book-Title"], keep= "last")].index
ratings_from_selected_users_df.drop(dupilcate_books_index , inplace = True)

In [55]:
ratings_from_selected_users_df.shape

(41024, 12)

In [45]:
recSys_df = ratings_from_selected_users_df.copy()

# **Different Recommender System**

In [47]:
pip install surprise

Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     || 11.8 MB 4.2 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.21.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1630198 sha256=ef628b52abb582440da0fcb4279e5896a40b0cb3da2eb4e06d6e0b724c7b11cd
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [49]:
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import train_test_split
from surprise.model_selection import LeaveOneOut

from collections import defaultdict
import numpy as np

## **Popular Books Recommender**

In [50]:
def getPopularityRanks(df, topn , userId):
  df_unread = df[df["User-ID"] != userId ]
  df_recommendation = df_unread.groupby(["Book-Title"]).agg({ "User-ID" : "count" , "Book-Rating" : "mean"}).reset_index().sort_values(by = "User-ID" , ascending = False)
  return df_recommendation.head(10)

In [54]:
user_id = np.random.choice(recSys_df["User-ID"].values)

getPopularityRanks(recSys_df , 10 , user_id)

                                             Book-Title  User-ID  Book-Rating
2253                          The Lovely Bones: A Novel      187     8.240642
2023                                  The Da Vinci Code      143     8.580420
2414                            The Secret Life of Bees      133     8.691729
891    Harry Potter and the Chamber of Secrets (Book 2)      121     8.826446
357                               Bridget Jones's Diary      116     7.534483
895   Harry Potter and the Prisoner of Azkaban (Book 3)      113     9.132743
2376                The Red Tent (Bestselling Backlist)      109     8.532110
2298                         The Nanny Diaries: A Novel      100     7.390000
893        Harry Potter and the Goblet of Fire (Book 4)      100     9.190000
180                                 Angels &amp; Demons       99     8.070707

## **Author Based Recommendation**

In [56]:
author_recommender_df = recSys_df.set_index('User-ID')

In [57]:
def get_authors(userId , df):
  author_set = set(df.loc[userId]["Book-Author"])
  #refined_author_set = set([ (x.lower()).capitalize() for x in author_set])
  return list(author_set)

In [58]:
def getPopularityRanks(df, topn , userId):
  df_unread = df[df["User-ID"] != userId ]
  df_recommendation = df_unread.groupby(["Book-Title"]).agg({ "User-ID" : "count" , "Book-Rating" : "mean"}).reset_index().sort_values(by = "User-ID" , ascending = False)
  return df_recommendation.head(10)

In [59]:
user_id = np.random.choice(recSys_df["User-ID"].values)

authors_list = get_authors(user_id , author_recommender_df)
filtered_df = author_recommender_df[author_recommender_df["Book-Author"].isin(authors_list)]

In [60]:
filtered_df.reset_index( inplace = True )
getPopularityRanks(filtered_df , 10 , user_id)

                       Book-Title  User-ID  Book-Rating
452                  The Notebook       90     7.966667
1             1st to Die: A Novel       87     7.678161
405                      The Firm       81     7.913580
382                    The Client       77     7.688312
380                   The Chamber       76     7.565789
199                 Jurassic Park       74     7.824324
454                   The Partner       72     7.791667
455             The Pelican Brief       72     7.611111
492                 The Testament       72     7.569444
354  Suzanne's Diary for Nicholas       68     8.058824

## **Train And Test Data Preparation**

In [61]:
reader = Reader()

recSys_surprise_df = Dataset.load_from_df(recSys_df[["User-ID" , "ISBN" , "Book-Rating"]], reader=reader)

In [62]:
LOOCV = LeaveOneOut(n_splits=1, random_state=1)

In [63]:
def splitter():
  for trainSet, testSet in LOOCV.split(recSys_surprise_df):
    return trainSet, testSet

In [64]:
trainSet, testSet = splitter()

In [65]:
def invert_dictionary(dictionary):
    """Invert a dictionary
    Args: 
        dictionary (dict): A dictionary
    Returns:
        dict: inverted dictionary
    """
    return {v: k for k, v in dictionary.items()}

In [66]:
def surprise_trainset_to_df(trainset, col_user="User-ID", col_item="ISBN", col_rating="Book-Rating"): 
    df = pd.DataFrame(trainset.all_ratings(), columns=[col_user, col_item, col_rating])
    map_user = trainset._inner2raw_id_users if trainset._inner2raw_id_users is not None else invert_dictionary(trainset._raw2inner_id_users)
    map_item = trainset._inner2raw_id_items if trainset._inner2raw_id_items is not None else invert_dictionary(trainset._raw2inner_id_items)
    df[col_user] = df[col_user].map(map_user)
    df[col_item] = df[col_item].map(map_item)
    return df

In [67]:
testSet_df = surprise_trainset_to_df(trainSet)

In [68]:
testSet_df.head()

   User-ID        ISBN  Book-Rating
0      254  0671021001          7.0
1      254  0618002219          9.0
2      254  0142001740          9.0
3      254  0399146431          9.0
4      254  0060934700          9.0

In [70]:
from scipy.sparse import csr_matrix, lil_matrix
from scipy.sparse.linalg import svds
from tqdm import tqdm
tqdm.pandas()

In [71]:
users = testSet_df['User-ID'].unique()
books = testSet_df['ISBN'].unique()

In [72]:
testSet_df['books'] = testSet_df['ISBN'].progress_apply(lambda x : np.argwhere(books == x)[0][0])
testSet_df['users'] = testSet_df['User-ID'].apply(lambda x : np.argwhere(users == x)[0][0])

100%|| 39758/39758 [00:04<00:00, 8896.35it/s]

In [73]:
occurences = lil_matrix((users.shape[0], books.shape[0]), dtype='int8')

def set_occurences(visitor, item , rating):
    occurences[visitor, item] = rating

testSet_df.apply(lambda row: set_occurences(row['users'], row['books'] , row["Book-Rating"]), axis=1)

occurences

<1266x3133 sparse matrix of type '<class 'numpy.int8'>'
	with 39758 stored elements in List of Lists format>

## **Knn**

In [74]:
import sklearn
from collections import defaultdict
from operator import itemgetter

In [83]:
R = occurences.toarray()
user_ids = list(testSet_df["User-ID"].unique())
book_isbn = list(testSet_df["ISBN"].unique())

knn_df = ratings_from_selected_users_df.copy()
knn_indexed_df = knn_df.set_index('User-ID')

In [76]:
knn_preds_df = pd.DataFrame(R, columns = book_isbn , index = user_ids)
knn_preds_df.head()

,0671021001,0618002219,0142001740,0399146431,0060934700,0066238501,0380789035,0380973650,0439064864,0439136350,...,0804108447,0812522397,0060508302,8477204055,0446671002,0375414657,0140620338,2253150711,3426600218,0399144315
254,7,9,9,9,9,5,10,9,9,9,...,0,0,0,0,0,0,0,0,0,0
638,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
882,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1131,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1435,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [77]:
from sklearn.neighbors import NearestNeighbors
model_knn=NearestNeighbors(metric = "cosine" , algorithm="brute")
model_knn.fit(occurences)

NearestNeighbors(algorithm='brute', metric='cosine')

In [95]:
lookup_df = knn_preds_df.reset_index()
distances, indices = model_knn.kneighbors(lookup_df.iloc[5, 1:].values.reshape(1,-1), n_neighbors = 10)

candidates = defaultdict(float)
  
for index ,similarUser in enumerate(indices.flatten()):
  userId = knn_preds_df.index[similarUser]
  userSimilarityScore = 1 - distances.flatten()[index]
  theirRatings = list(zip(knn_indexed_df.loc[userId]["ISBN" ] , knn_indexed_df.loc[userId]["Book-Rating" ]))
  for rating in theirRatings:
    candidates[rating[0]] += ((rating[1] / 10.0) * userSimilarityScore)

primary_userId = knn_preds_df.index[5]
watched_list = set(testSet_df.loc[primary_userId]["ISBN" ])

pos = 0
for itemID, ratingSum in sorted(candidates.items(), key=itemgetter(1), reverse=True):
  if not itemID in watched_list:
    book_title = set(knn_indexed_df[knn_indexed_df["ISBN"] == itemID]["Book-Title"])
    print(f'{pos+1}: {next(iter(book_title))} : {ratingSum}')
          #topN[int(trainSet.to_raw_uid(uiid))].append( (int(movieID), 0.0) )
    pos += 1
    if (pos >= 10):
      break

1: Harry Potter and the Prisoner of Azkaban (Book 3) : 3.213944502145666
2: Harry Potter and the Chamber of Secrets (Book 2) : 3.13335888925804
3: Harry Potter and the Sorcerer's Stone (Book 1) : 2.937513662039083
4: Harry Potter and the Order of the Phoenix (Book 5) : 2.9126190136058616
5: Harry Potter and the Goblet of Fire (Book 4) : 2.7204975479652305
6: Scientific Progress Goes 'Boink':  A Calvin and Hobbes Collection : 1.5716065727850648
7: It's A Magical World: A Calvin and Hobbes Collection : 1.5716065727850648
8: Calvin and Hobbes : 1.3029878631596432
9: Ender's Shadow : 1.229140943230836
10: Love You Forever : 1.2269797854432052

## **Gradient Descent Approach**

In [102]:
ratings_pivot = testSet_df.pivot(index='User-ID', columns='ISBN', values="Book-Rating").fillna(0)
ratings_pivot.head()

ISBN,000649840X,0006547834,0006550576,0007110928,0020198817,0020198906,0020199600,0020442203,002542730X,0028604199,...,8472236552,8477204055,8478886451,8495501198,8495618605,8804342838,8806142100,8806143042,8807813025,8817106100
User-ID,,,,,,,,,,,,,,,,,,,,,
254,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
638,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1435,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
from scipy.sparse import coo_matrix

R = coo_matrix(ratings_pivot.values)

print ("R Shape::", R.shape)
print ("R Columns::", R.col)
print ("R Rows::",R.row)

R Shape:: (1227, 6199)
R Columns:: [   5  357  358 ... 4639 5054 5193]
R Rows:: [   0    0    0 ... 1226 1226 1226]

In [ ]:
class MF():
    
    def __init__(self, R, K, alpha, beta, iterations):
        """
        Perform matrix factorization to predict empty
        entries in a matrix.
        
        Arguments
        - R (ndarray)   : user-item rating matrix
        - K (int)       : number of latent dimensions
        - alpha (float) : learning rate
        - beta (float)  : regularization parameter
        """
        
        self.R = R
        self.num_users, self.num_items = R.shape
        self.K = K
        self.alpha = alpha
        self.beta = beta
        self.iterations = iterations

    def train(self):
        # Initialize user and item latent feature matrice
        self.P = np.random.normal(scale=1./self.K, size=(self.num_users, self.K))
        self.Q = np.random.normal(scale=1./self.K, size=(self.num_items, self.K))
        
        # Initialize the biases
        self.b_u = np.zeros(self.num_users)
        self.b_i = np.zeros(self.num_items)
        self.b = np.mean(self.R[np.where(self.R != 0)])
        
        # Create a list of training samples

        i,j = self.R.nonzero()
        values = self.R[self.R.nonzero()]
        self.samples = list(zip(i , j, values))
        
        # Perform stochastic gradient descent for number of iterations
        training_process = []
        for i in range(self.iterations):
            np.random.shuffle(self.samples)
            self.sgd()
            mse = self.mse()
            training_process.append((i, mse))
            if (i+1) % 10 == 0:
                print("Iteration: %d ; error = %.4f" % (i+1, mse))
        
        return training_process

    def mse(self):
        """
        A function to compute the total mean square error
        """
        xs, ys = self.R.nonzero()
        predicted = self.full_matrix()
        error = 0
        for x, y in zip(xs, ys):
            error += pow(self.R[x, y] - predicted[x, y], 2)
        return np.sqrt(error)

    def sgd(self):
        """
        Perform stochastic graident descent
        """
        for i, j, r in self.samples:
            # Computer prediction and error
            prediction = self.get_rating(i, j)
            e = (r - prediction)
            
            # Update biases
            self.b_u[i] += self.alpha * (e - self.beta * self.b_u[i])
            self.b_i[j] += self.alpha * (e - self.beta * self.b_i[j])
            
            # Create copy of row of P since we need to update it but use older values for update on Q
            P_i = self.P[i, :][:]
            
            # Update user and item latent feature matrices
            self.P[i, :] += self.alpha * (e * self.Q[j, :] - self.beta * self.P[i,:])
            self.Q[j, :] += self.alpha * (e * P_i - self.beta * self.Q[j,:])

    def get_rating(self, i, j):
        """
        Get the predicted rating of user i and item j
        """
        prediction = self.b + self.b_u[i] + self.b_i[j] + self.P[i, :].dot(self.Q[j, :].T)
        return prediction
    
    def full_matrix(self):
        """
        Computer the full matrix using the resultant biases, P and Q
        """
        return mf.b + mf.b_u[:,np.newaxis] + mf.b_i[np.newaxis:,] + mf.P.dot(mf.Q.T)

In [ ]:
P,Q = SGD(R,K=20,gamma=0.006,lamda=0.017, steps=400)

Initial RMSE: 3.472774450933566
Final RMSE: 0.638636628093251

In [ ]:
all_user_ratings =np.matmul(P, Q)

all_user_ratings

array([[7.59072016, 6.94404326, 7.57692119, ..., 7.31467245, 8.05465588,
        7.57219122],
       [6.13074144, 7.82749811, 7.24366375, ..., 6.38497118, 7.58210531,
        8.01540481],
       [8.52967908, 8.23206213, 9.98180382, ..., 7.87638219, 8.11640614,
        9.87586062],
       ...,
       [7.47616708, 6.05319525, 7.53241536, ..., 7.33034579, 6.45517808,
        7.96532562],
       [5.61513145, 6.834343  , 6.14599369, ..., 5.18621604, 8.50326532,
        7.50996923],
       [7.68104873, 8.16383335, 7.15967266, ..., 6.63592933, 8.91604439,
        8.01939781]])

In [ ]:
user_ids = list(book_ratings_train_df["User-ID"].unique())
book_names = list(book_ratings_train_df["Book-Title"].unique())

In [ ]:
user_list=list(ratings_pivot.index)
book_list=list(ratings_pivot.columns)

In [ ]:
all_user_ratings_df = pd.DataFrame(np.round(all_user_ratings,4),columns=book_list, index=user_list).transpose()
all_user_ratings_df.shape

(6199, 1227)

In [ ]:

# No of Factors - 3
K=3

# using random values of P and Q 
P=np.random.rand(M,K)
Q=np.random.rand(K,N)

In [ ]:
R = occurences.toarray()

mf = MF(R, K=60, alpha=0.04, beta=0.05, iterations=50)
training_process = mf.train()
print()
print("P x Q:")
print(mf.full_matrix())

In [ ]:
mf.full_matrix().shape

(665, 1949)

## **Singular Value Decomposition**

In [96]:
matrix = occurences.toarray()

user_ratings_mean = np.mean(matrix, axis = 1)
R_demeaned = matrix - user_ratings_mean.reshape(-1, 1)

In [97]:
# The number of factors to factor the user-item matrix.
NUMBER_OF_FACTORS_MF = 15

#Performs matrix factorization of the original user item matrix
U, sigma, Vt = svds(R_demeaned, k = NUMBER_OF_FACTORS_MF)

In [98]:
sigma = np.diag(sigma)
sigma.shape

(15, 15)

In [99]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)

In [100]:
user_ids = list(testSet_df["User-ID"].unique())
book_isbn = list(testSet_df["ISBN"].unique())

In [101]:
svd_preds_df = pd.DataFrame(all_user_predicted_ratings, columns = book_isbn , index = user_ids).transpose()
svd_preds_df.head()

,254,638,882,1131,1435,2033,2276,2766,2891,3363,...,276050,276165,276231,276641,276680,277427,277523,278026,278194,278633
0671021001,0.462434,1.114675,0.453369,0.300250,0.246348,0.259093,0.054160,0.608486,0.300188,0.068332,...,0.387866,0.811866,0.415571,0.041496,0.895000,0.148826,0.078051,0.007191,0.050242,0.920449
0618002219,1.270556,0.272464,0.010486,-0.020755,0.018144,1.518561,0.017379,0.180475,0.007541,0.119068,...,0.159638,1.519970,0.003038,-0.003947,0.129313,0.055121,0.042490,-0.040170,-0.010359,0.090876
0142001740,0.143896,1.351165,0.837825,0.479366,0.386392,-0.626567,0.160133,0.803460,1.032118,0.617248,...,0.385330,-0.192192,0.263211,0.174456,1.014988,0.533440,0.049348,-0.041371,0.174018,0.707286
0399146431,0.680141,0.134808,-0.039274,0.061319,0.061746,0.725130,-0.065565,0.178875,-0.005102,0.086956,...,0.154717,0.789083,0.074198,-0.002640,0.115908,0.264859,0.063527,0.120678,0.012272,0.085454
0060934700,0.255729,0.035771,0.080514,-0.028902,-0.010941,0.268009,0.071026,0.029781,0.051190,-0.024682,...,0.111008,0.242912,0.031992,0.034919,0.057301,0.233981,-0.004592,-0.018083,0.037601,-0.083702

## **Evaluation Time**

In [ ]:
class CFRecommender:
    
    MODEL_NAME = 'Collaborative Filtering'
    
    def __init__(self, cf_predictions_df, items_df=None):
        self.cf_predictions_df = cf_predictions_df
        self.items_df = items_df
        
    def get_model_name(self):
        return self.MODEL_NAME
      
    def recommend_items(self, user_id, items_to_ignore=[], topn=10, verbose=False):
        # Get and sort the user's predictions
        sorted_user_predictions = self.cf_predictions_df[user_id].sort_values(ascending=False).reset_index().rename(columns={user_id: 'recStrength', 'index' : "Book-Title"})

        # Recommend the highest predicted rating content that the user hasn't seen yet.
        recommendations_df = sorted_user_predictions[~sorted_user_predictions['Book-Title'].isin(items_to_ignore)].sort_values('recStrength', ascending = False).head(topn)

        if verbose:
            if self.items_df is None:
                raise Exception('"items_df" is required in verbose mode')

            recommendations_df = recommendations_df.merge(self.items_df, how = 'left', 
                                                          left_on = 'Book-Title', 
                                                          right_on = 'Book-Title')[['recStrength', 'Book-Title']]


        return recommendations_df
    
cf_recommender_model = CFRecommender(all_user_ratings_df, books_df)

In [ ]:
interactions_full_indexed_df = selected_ratings_df.set_index('User-ID')
interactions_train_indexed_df = book_ratings_train_df.set_index('User-ID')
interactions_test_indexed_df = book_ratings_test_df.set_index('User-ID')

In [ ]:
def get_items_interacted(person_id, interactions_df):
  interacted_items = interactions_df.loc[person_id]['Book-Title']
  return set(interacted_items if type(interacted_items) == pd.Series else [interacted_items])

# Evaluation

In [ ]:
import itertools

from surprise import accuracy
from collections import defaultdict

class RecommenderMetrics:

    def GetTopN(predictions, n=10, minimumRating=4.0):
        topN = defaultdict(list)


        for userID, movieID, actualRating, estimatedRating, _ in predictions:
            if (estimatedRating >= minimumRating):
                topN[int(userID)].append((int(movieID), estimatedRating))

        for userID, ratings in topN.items():
            ratings.sort(key=lambda x: x[1], reverse=True)
            topN[int(userID)] = ratings[:n]

        return topN

    def HitRate(topNPredicted, leftOutPredictions):
        hits = 0
        total = 0

        # For each left-out rating
        for leftOut in leftOutPredictions:
            userID = leftOut[0]
            leftOutMovieID = leftOut[1]
            # Is it in the predicted top 10 for this user?
            hit = False
            for movieID, predictedRating in topNPredicted[int(userID)]:
                if (int(leftOutMovieID) == int(movieID)):
                    hit = True
                    break
            if (hit) :
                hits += 1

            total += 1

        # Compute overall precision
        return hits/total

    def CumulativeHitRate(topNPredicted, leftOutPredictions, ratingCutoff=0):
        hits = 0
        total = 0

        # For each left-out rating
        for userID, leftOutMovieID, actualRating, estimatedRating, _ in leftOutPredictions:
            # Only look at ability to recommend things the users actually liked...
            if (actualRating >= ratingCutoff):
                # Is it in the predicted top 10 for this user?
                hit = False
                for movieID, predictedRating in topNPredicted[int(userID)]:
                    if (int(leftOutMovieID) == movieID):
                        hit = True
                        break
                if (hit) :
                    hits += 1

                total += 1

        # Compute overall precision
        return hits/total

    def RatingHitRate(topNPredicted, leftOutPredictions):
        hits = defaultdict(float)
        total = defaultdict(float)

        # For each left-out rating
        for userID, leftOutMovieID, actualRating, estimatedRating, _ in leftOutPredictions:
            # Is it in the predicted top N for this user?
            hit = False
            for movieID, predictedRating in topNPredicted[int(userID)]:
                if (int(leftOutMovieID) == movieID):
                    hit = True
                    break
            if (hit) :
                hits[actualRating] += 1

            total[actualRating] += 1

        # Compute overall precision
        for rating in sorted(hits.keys()):
            print (rating, hits[rating] / total[rating])

    def AverageReciprocalHitRank(topNPredicted, leftOutPredictions):
        summation = 0
        total = 0
        # For each left-out rating
        for userID, leftOutMovieID, actualRating, estimatedRating, _ in leftOutPredictions:
            # Is it in the predicted top N for this user?
            hitRank = 0
            rank = 0
            for movieID, predictedRating in topNPredicted[int(userID)]:
                rank = rank + 1
                if (int(leftOutMovieID) == movieID):
                    hitRank = rank
                    break
            if (hitRank > 0) :
                summation += 1.0 / hitRank

            total += 1

        return summation / total

    # What percentage of users have at least one "good" recommendation
    def UserCoverage(topNPredicted, numUsers, ratingThreshold=0):
        hits = 0
        for userID in topNPredicted.keys():
            hit = False
            for movieID, predictedRating in topNPredicted[userID]:
                if (predictedRating >= ratingThreshold):
                    hit = True
                    break
            if (hit):
                hits += 1

        return hits / numUsers

    def Diversity(topNPredicted, simsAlgo):
        n = 0
        total = 0
        simsMatrix = simsAlgo.compute_similarities()
        for userID in topNPredicted.keys():
            pairs = itertools.combinations(topNPredicted[userID], 2)
            for pair in pairs:
              #Here we will use sklearn cosing similarity function 
                movie1 = pair[0][0]
                movie2 = pair[1][0]
                innerID1 = simsAlgo.trainset.to_inner_iid(str(movie1))
                innerID2 = simsAlgo.trainset.to_inner_iid(str(movie2))
                similarity = simsMatrix[innerID1][innerID2]
                total += similarity
                n += 1

        S = total / n
        return (1-S)

    def Novelty(topNPredicted, rankings):
        n = 0
        total = 0
        for userID in topNPredicted.keys():
            for rating in topNPredicted[userID]:
                movieID = rating[0]
                rank = rankings[movieID]
                total += rank
                n += 1
        return total / n

In [ ]:
def read_books(userid):
  user_read_books = book_ratings_train_df[book_ratings_train_df["User-ID"] == userid]["Book-Title"]
  list_of_read_books = list(user_read_books["Book-Title"].values)
  return list_of_read_books

In [ ]:
def recommend_books(userid , n):
  user_recommendations = cf_preds_df.iloc[userid,].sort_values(by = userid , ascending = False , axis = 1)
  read_books_list = read_books(userid)
  user_recommendations = user_recommendations.T.reset_index().rename(columns = {"index" : "books" , "0" : "Book-Rating"})
  filtered_recommendations = user_recommendations[~user_recommendations["books"].isin(read_books_list)].head(n)
  return filtered_recommendations

In [ ]:
def precision_at_K( userid , k):
  topk_recommendation = recommend_books(userid , 100).head(k)
  test_set_books = book_ratings_test_df[book_ratings_test_df["User-ID"] == userid]["Book-Title"]

In [ ]:
class modelEvaluator():


  def