<a href="https://colab.research.google.com/github/Yash1289/Book_Recommendations/blob/main/Book_Recommender_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

In [3]:
import numpy as np
import pandas as pd

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
books_path = "/content/drive/MyDrive/Colab Notebooks/data_book_recommendation/Books.csv"
ratings_path = "/content/drive/MyDrive/Colab Notebooks/data_book_recommendation/Ratings.csv"
users_path = "/content/drive/MyDrive/Colab Notebooks/data_book_recommendation/Users.csv"

In [6]:
books_df = pd.read_csv(books_path , low_memory=False)
ratings_df = pd.read_csv(ratings_path , low_memory = False)
users_df = pd.read_csv(users_path , low_memory = False)

In [ ]:
ratings_df.shape

(1149780, 3)

In [ ]:
books_df.head(3)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...

In [ ]:
ratings_df.head(3)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0

In [ ]:
users_df.head(3)

   User-ID                         Location   Age
0        1               nyc, new york, usa   NaN
1        2        stockton, california, usa  18.0
2        3  moscow, yukon territory, russia   NaN

In [ ]:
books_interactions_count_df = ratings_df.groupby(["ISBN","User-ID"]).size().groupby('ISBN').size()
print('# of users: %d' % len(books_interactions_count_df))
#Filtering sers wit enough interactions
books_with_enough_interactions_df = books_interactions_count_df[books_interactions_count_df > 10].reset_index()[['ISBN']]
print('# of users with at least 50 interactions: %d' % len(books_with_enough_interactions_df))
books_with_enough_interactions_df.head()

# of users: 340556
# of users with at least 50 interactions: 16162

         ISBN
0   000000000
1  0002005018
2  0002251760
3  0002259001
4  0002259834

In [ ]:
ratings_df["ISBN"].value_counts()

0971880107     2502
0316666343     1295
0385504209      883
0060928336      732
0312195516      723
               ...
1568656386        1
1568656408        1
1569551553        1
1570081808        1
05162443314       1
Name: ISBN, Length: 340556, dtype: int64

In [ ]:
ratings_df = ratings_df.groupby("ISBN").filter(lambda x : len(x) >= 20)
ratings_df["ISBN"].value_counts()

0971880107    2502
0316666343    1295
0385504209     883
0060928336     732
0312195516     723
              ...
0380871556      20
0440129613      20
0553293168      20
0140259112      20
0060958324      20
Name: ISBN, Length: 7490, dtype: int64

In [ ]:
explicit_ratings_df = ratings_df[ratings_df["Book-Rating"] != 0]
explicit_userids = list(explicit_ratings_df["User-ID"].unique())
explicit_users_df = users_df[users_df["User-ID"].isin(explicit_userids)]

In [ ]:
print(books_df.shape)
print(explicit_ratings_df.shape)
print(explicit_users_df.shape)

(271360, 8)
(153850, 3)
(41612, 3)

In [ ]:
explicit_ratings_df["Book-Rating"].value_counts()

8     38996
10    28421
9     26566
7     26525
5     15028
6     12165
4      2844
3      1892
2       905
1       508
Name: Book-Rating, dtype: int64

In [ ]:
explicit_ratings_df[explicit_ratings_df.duplicated(subset = ["User-ID" , "ISBN"])]

Empty DataFrame
Columns: [User-ID, ISBN, Book-Rating]
Index: []

In [ ]:
explicit_ratings_df["User-ID"].nunique()

41612

In [ ]:
#filteredUsers_df = users_df[(users_df["Age"] <= 100) | (users_df["Age"].isna())]
#filteredUsers_df.shape

In [ ]:
books_ratings_df = pd.merge(explicit_ratings_df , books_df , on = ["ISBN"])

In [ ]:
books_ratings_df["User-ID"].nunique()

40491

In [ ]:
books_ratings_df[books_ratings_df["ISBN"].str.len() != 10 ]

Empty DataFrame
Columns: [User-ID, ISBN, Book-Rating, Book-Title, Book-Author, Year-Of-Publication, Publisher, Image-URL-S, Image-URL-M, Image-URL-L]
Index: []

In [ ]:
users_books_ratings_df = pd.merge(books_ratings_df , explicit_users_df , on =["User-ID"])
users_books_ratings_df["User-ID"].nunique()

40491

In [ ]:
users_books_ratings_df.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Location,Age
0,276744,038550120X,7,A Painted House,JOHN GRISHAM,2001,Doubleday,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,"torrance, california, usa",NaN
1,11676,038550120X,10,A Painted House,JOHN GRISHAM,2001,Doubleday,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,"n/a, n/a, n/a",NaN
2,11676,0671537458,8,Waiting to Exhale,Terry McMillan,1995,Pocket,http://images.amazon.com/images/P/0671537458.0...,http://images.amazon.com/images/P/0671537458.0...,http://images.amazon.com/images/P/0671537458.0...,"n/a, n/a, n/a",NaN
3,11676,0679776818,8,Birdsong: A Novel of Love and War,Sebastian Faulks,1997,Vintage Books USA,http://images.amazon.com/images/P/0679776818.0...,http://images.amazon.com/images/P/0679776818.0...,http://images.amazon.com/images/P/0679776818.0...,"n/a, n/a, n/a",NaN
4,11676,0684867621,3,The Girl Who Loved Tom Gordon : A Novel,Stephen King,1999,Scribner,http://images.amazon.com/images/P/0684867621.0...,http://images.amazon.com/images/P/0684867621.0...,http://images.amazon.com/images/P/0684867621.0...,"n/a, n/a, n/a",NaN

In [ ]:
users_ratedBooks_count_df = users_books_ratings_df.groupby(['User-ID', 'ISBN']).size().groupby('User-ID').size()
print('# of users: %d' % len(users_ratedBooks_count_df))

users_with_enough_ratedBooks_df = users_ratedBooks_count_df[users_ratedBooks_count_df >= 20].reset_index()[['User-ID']]
print('# of users with at least 20 interactions: %d' % len(users_with_enough_ratedBooks_df))

# of users: 40491
# of users with at least 20 interactions: 1227

In [ ]:
print('# of interactions: %d' % len(users_books_ratings_df))
ratings_from_selected_users_df = users_books_ratings_df.merge(users_with_enough_ratedBooks_df, 
               how = 'right',
               left_on = 'User-ID',
               right_on = 'User-ID')
print('# of interactions from users with at least 20 interactions: %d' % len(ratings_from_selected_users_df))

# of interactions: 149983
# of interactions from users with at least 20 interactions: 55644

In [ ]:
ratings_from_selected_users_df[ratings_from_selected_users_df.duplicated( subset = ["User-ID" , "Book-Title"], keep= "last")]

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Location,Age
4,254,0439064872,9,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439064872.0...,http://images.amazon.com/images/P/0439064872.0...,http://images.amazon.com/images/P/0439064872.0...,"minneapolis, minnesota, usa",24.0
5,254,0439136369,9,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...,"minneapolis, minnesota, usa",24.0
757,6251,0064400565,10,Stuart Little,E. B. White,1974,HarperTrophy,http://images.amazon.com/images/P/0064400565.0...,http://images.amazon.com/images/P/0064400565.0...,http://images.amazon.com/images/P/0064400565.0...,"wahiawa, hawaii, usa",32.0
846,6543,0385721420,7,Three Junes,JULIA GLASS,2003,Anchor,http://images.amazon.com/images/P/0385721420.0...,http://images.amazon.com/images/P/0385721420.0...,http://images.amazon.com/images/P/0385721420.0...,"strafford, missouri, usa",34.0
953,6575,0316776963,8,Me Talk Pretty One Day,David Sedaris,2001,Back Bay Books,http://images.amazon.com/images/P/0316776963.0...,http://images.amazon.com/images/P/0316776963.0...,http://images.amazon.com/images/P/0316776963.0...,"seattle, washington, usa",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
52710,261829,0316693200,8,2nd Chance,James Patterson,2002,"Little, Brown",http://images.amazon.com/images/P/0316693200.0...,http://images.amazon.com/images/P/0316693200.0...,http://images.amazon.com/images/P/0316693200.0...,"fpo, ap, usa",32.0
52875,263163,0060977493,7,The God of Small Things,Arundhati Roy,1998,Perennial,http://images.amazon.com/images/P/0060977493.0...,http://images.amazon.com/images/P/0060977493.0...,http://images.amazon.com/images/P/0060977493.0...,"austin, texas, usa",26.0
53250,264543,0345387651,8,The Cider House Rules,John Irving,1994,Ballantine Books,http://images.amazon.com/images/P/0345387651.0...,http://images.amazon.com/images/P/0345387651.0...,http://images.amazon.com/images/P/0345387651.0...,"quincy, massachusetts, usa",NaN
53280,264657,0440212723,7,Cold Sassy Tree,Olive Ann Burns,1992,Bantam Doubleday Dell,http://images.amazon.com/images/P/0440212723.0...,http://images.amazon.com/images/P/0440212723.0...,http://images.amazon.com/images/P/0440212723.0...,"st. louis, missouri, usa",23.0
55045,274004,0446605239,4,The Notebook,Nicholas Sparks,1998,Warner Books,http://images.amazon.com/images/P/0446605239.0...,http://images.amazon.com/images/P/0446605239.0...,http://images.amazon.com/images/P/0446605239.0...,"sydenham, london, england, united kingdom",41.0

In [ ]:
implicit_duplicates = ratings_from_selected_users_df[ratings_from_selected_users_df.duplicated( subset = ["User-ID" , "Book-Title"], keep=False) & (ratings_from_selected_users_df["Book-Rating"] == 0) ]
implicit_duplicates = implicit_duplicates.sort_values(by = ["Year-Of-Publication"] , ascending = False)
implicit_duplicates.drop_duplicates(subset = ["User-ID" , "Book-Title"] , keep = "last" , inplace = True)

ratings_from_selected_users_df.drop(implicit_duplicates.index , inplace = True)

In [ ]:
selected_ratings_df = ratings_from_selected_users_df.sort_values(by =["Year-Of-Publication"] , ascending = False ) 

print(len(selected_ratings_df[selected_ratings_df.duplicated(subset = ["User-ID" , "Book-Title"] , keep = "first")]))

selected_ratings_df.drop_duplicates(subset = ["User-ID" , "Book-Title"] , keep = "first" , inplace = True)

324

In [ ]:
selected_ratings_df.shape

(55320, 12)

In [7]:
pip install surprise

Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 5.3 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.21.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1630153 sha256=e97998120d239b7db4dae39efac330db3b739dee6a47232e613be840172bb401
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [8]:
import os
import csv
import sys
import re

from surprise import Dataset
from surprise import Reader

from collections import defaultdict
import numpy as np

In [7]:
ratings_df.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [13]:
from surprise import SVD
from surprise import KNNBaseline
from surprise.model_selection import train_test_split
from surprise.model_selection import LeaveOneOut

In [14]:
LOOCV = LeaveOneOut(n_splits=1, random_state=1)

In [9]:
reader = Reader()

ratingsDataset = Dataset.load_from_df(ratings_df, reader=reader)

In [16]:
def splitter():
  for trainSet, testSet in LOOCV.split(ratingsDataset):
    return trainSet, testSet

In [24]:
from reco_utils.common.general_utils import invert_dictionary

ModuleNotFoundError: ignored

In [17]:
trainSet, testSet = splitter()

In [25]:
def invert_dictionary(dictionary):
    """Invert a dictionary
    Args: 
        dictionary (dict): A dictionary
    Returns:
        dict: inverted dictionary
    """
    return {v: k for k, v in dictionary.items()}

In [23]:
def surprise_trainset_to_df(trainset, col_user="uid", col_item="iid", col_rating="rating"): 
    df = pd.DataFrame(trainset.all_ratings(), columns=[col_user, col_item, col_rating])
    map_user = trainset._inner2raw_id_users if trainset._inner2raw_id_users is not None else invert_dictionary(trainset._raw2inner_id_users)
    map_item = trainset._inner2raw_id_items if trainset._inner2raw_id_items is not None else invert_dictionary(trainset._raw2inner_id_items)
    df[col_user] = df[col_user].map(map_user)
    df[col_item] = df[col_item].map(map_item)
    return df

In [36]:
trainSet._inner2raw_id_users

In [35]:
map_user

In [28]:
tryi = pd.DataFrame(trainSet.all_ratings(), columns=["uid", "iid","rating"])

In [29]:
tryi.head()

   uid  iid  rating
0    0    0     3.0
1    1    1     0.0
2    1    2     0.0
3    1    3     0.0
4    1    4     0.0

In [26]:
original_df = surprise_trainset_to_df(trainSet)

In [27]:
original_df.head()

      uid         iid  rating
0  276729  052165615X     3.0
1  276746  0425115801     0.0
2  276746  0449006522     0.0
3  276746  0553561618     0.0
4  276746  0786013990     0.0

In [ ]:
from surprise import SVD
from surprise import KNNBaseline
from surprise.model_selection import train_test_split
from surprise.model_selection import LeaveOneOut
from RecommenderMetrics import RecommenderMetrics


print("Loading movie ratings...")
#data = ml.loadMovieLensLatestSmall()

print("\nComputing movie popularity ranks so we can measure novelty later...")
#rankings = ml.getPopularityRanks()

print("\nComputing item similarities so we can measure diversity later...")
fullTrainSet = data.build_full_trainset()
sim_options = {'name': 'pearson_baseline', 'user_based': False}
simsAlgo = KNNBaseline(sim_options=sim_options)
simsAlgo.fit(fullTrainSet)

print("\nBuilding recommendation model...")
trainSet, testSet = train_test_split(data, test_size=.25, random_state=1)

algo = SVD(random_state=10)
algo.fit(trainSet)

print("\nComputing recommendations...")
predictions = algo.test(testSet)

print("\nEvaluating accuracy of model...")
print("RMSE: ", RecommenderMetrics.RMSE(predictions))
print("MAE: ", RecommenderMetrics.MAE(predictions))

print("\nEvaluating top-10 recommendations...")

# Set aside one rating per user for testing
LOOCV = LeaveOneOut(n_splits=1, random_state=1)

for trainSet, testSet in LOOCV.split(data):
    print("Computing recommendations with leave-one-out...")

    # Train model without left-out ratings
    algo.fit(trainSet)

    # Predicts ratings for left-out ratings only
    print("Predict ratings for left-out set...")
    leftOutPredictions = algo.test(testSet)

    # Build predictions for all ratings not in the training set
    print("Predict all missing ratings...")
    bigTestSet = trainSet.build_anti_testset()
    allPredictions = algo.test(bigTestSet)

    # Compute top 10 recs for each user
    print("Compute top 10 recs per user...")
    topNPredicted = RecommenderMetrics.GetTopN(allPredictions, n=10)

    # See how often we recommended a movie the user actually rated
    print("\nHit Rate: ", RecommenderMetrics.HitRate(topNPredicted, leftOutPredictions))

    # Break down hit rate by rating value
    print("\nrHR (Hit Rate by Rating value): ")
    RecommenderMetrics.RatingHitRate(topNPredicted, leftOutPredictions)

    # See how often we recommended a movie the user actually liked
    print("\ncHR (Cumulative Hit Rate, rating >= 4): ", RecommenderMetrics.CumulativeHitRate(topNPredicted, leftOutPredictions, 4.0))

    # Compute ARHR
    print("\nARHR (Average Reciprocal Hit Rank): ", RecommenderMetrics.AverageReciprocalHitRank(topNPredicted, leftOutPredictions))

print("\nComputing complete recommendations, no hold outs...")
algo.fit(fullTrainSet)
bigTestSet = fullTrainSet.build_anti_testset()
allPredictions = algo.test(bigTestSet)
topNPredicted = RecommenderMetrics.GetTopN(allPredictions, n=10)

# Print user coverage with a minimum predicted rating of 4.0:
print("\nUser coverage: ", RecommenderMetrics.UserCoverage(topNPredicted, fullTrainSet.n_users, ratingThreshold=4.0))

# Measure diversity of recommendations:
print("\nDiversity: ", RecommenderMetrics.Diversity(topNPredicted, simsAlgo))

# Measure novelty (average popularity rank of recommendations):
print("\nNovelty (average popularity rank): ", RecommenderMetrics.Novelty(topNPredicted, rankings))

# **Model Application**

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
book_ratings_train_df, book_ratings_test_df = train_test_split(selected_ratings_df,
                                   stratify = selected_ratings_df['User-ID'],
                                   test_size=0.20,
                                   random_state=42)

print('# interactions on Train set: %d' % len(book_ratings_train_df))
print('# interactions on Test set: %d' % len(book_ratings_test_df))

# interactions on Train set: 44256
# interactions on Test set: 11064

Filter the duplicate book reads earlier before filtering the dataframe to only have users who have read more than or equal to 5 books

In [ ]:
users = book_ratings_train_df['User-ID'].unique()
books = book_ratings_train_df['Book-Title'].unique()

In [ ]:
print(users.shape[0])
print(books.shape[0])

1227
6199

## **Author Based Recommendation**

In [ ]:
author_recommender_df = selected_ratings_df.set_index('User-ID')

In [ ]:
def get_authors(userId , df):
  author_set = set(df.loc[userId]["Book-Author"])
  #refined_author_set = set([ (x.lower()).capitalize() for x in author_set])
  return list(author_set)

In [ ]:
def getPopularityRanks(df, topn , userId):
  df_unread = df[df["User-ID"] != userId ]
  df_recommendation = df_unread.groupby(["Book-Title"]).agg({ "User-ID" : "count" , "Book-Rating" : "mean"}).reset_index().sort_values(by = "User-ID" , ascending = False)
  return df_recommendation.head(10)

In [ ]:
authors_list = get_authors(259629 , author_recommender_df)
filtered_df = author_recommender_df[author_recommender_df["Book-Author"].isin(authors_list)]

In [ ]:
filtered_df.reset_index( inplace = True )
getPopularityRanks(filtered_df , 10 , 259629)

                                            Book-Title  User-ID  Book-Rating
3                                      A Painted House       95     7.821053
338                                           The Firm       91     8.000000
481  Where the Heart Is (Oprah's Book Club (Paperba...       82     8.365854
145                         Interview with the Vampire       80     7.762500
385                                  The Pelican Brief       77     7.688312
319                                        The Chamber       74     7.527027
322                                         The Client       74     7.635135
8                                       A Time to Kill       74     8.216216
151                                      Jurassic Park       70     7.800000
384                                        The Partner       70     7.885714

## **Knn**

In [ ]:
import sklearn
from collections import defaultdict
from operator import itemgetter

In [ ]:
R = occurences.toarray()
user_ids = list(book_ratings_train_df["User-ID"].unique())
book_names = list(book_ratings_train_df["Book-Title"].unique())

In [ ]:
knn_preds_df = pd.DataFrame(R, columns = book_names , index = user_ids)
knn_preds_df.head()

,Navy Blues,Accident,Dragonsinger (Harper Hall Trilogy),Holding the Dream (Dream Trilogy),A Year in Provence,Straight Man : A Novel (Vintage Contemporaries),The Lord of the Rings (Movie Art Cover),The Stone Diaries,Sleeping With the Enemy,A New Song (Mitford Years (Paperback)),...,The Sisterhood,Finding Laura,I Thought My Father Was God: And Other True Tales from NPR's National Story Project,Memorias de una geisha,Solaris,HARVEST,Chicken Soup for the Pet Lover's Soul (Chicken Soup for the Soul (Hardcover Health Communications)),Dreamer,Emma (Penguin Popular Classics),EVENING STAR
234359,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
217740,0,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
85656,0,0,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
108480,0,0,0,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36606,0,0,0,0,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from sklearn.neighbors import NearestNeighbors
model_knn=NearestNeighbors(metric = "cosine" , algorithm="brute")
model_knn.fit(occurences)

NearestNeighbors(algorithm='brute', metric='cosine')

In [ ]:
lookup_df = knn_preds_df.reset_index()

In [ ]:
distances, indices = model_knn.kneighbors(lookup_df.iloc[3, 1:].values.reshape(1,-1), n_neighbors = 10)

candidates = defaultdict(float)
  
for index ,similarUser in enumerate(indices.flatten()):
  userId = knn_preds_df.index[similarUser]
  userSimilarityScore = 1 - distances.flatten()[index]
  theirRatings = list(zip(author_recommender_df.loc[userId]["ISBN" ],author_recommender_df.loc[userId]["Book-Rating" ]))
  for rating in theirRatings:
    candidates[rating[0]] += (rating[1] / 10.0) * userSimilarityScore

primary_userId = knn_preds_df.index[3]
watched_list = set(author_recommender_df.loc[primary_userId]["ISBN" ])

pos = 0
for itemID, ratingSum in sorted(candidates.items(), key=itemgetter(1), reverse=True):
  if not itemID in watched_list:
    book_title = set(author_recommender_df[author_recommender_df["ISBN"] == itemID]["Book-Title"])
    print(f'{pos+1}: {next(iter(book_title))} : {ratingSum}')
          #topN[int(trainSet.to_raw_uid(uiid))].append( (int(movieID), 0.0) )
    pos += 1
    if (pos >= 10):
      break

1: Glory in Death : 1.1083010913792604
2: Dance upon the Air (Three Sisters Island Trilogy) : 0.8153332006256345
3: Holiday in Death : 0.7766307200644834
4: Judgment in Death : 0.7726565359579348
5: Conspiracy in Death : 0.7323539617657949
6: Loyalty in Death : 0.7141052806014757
7: Heaven and Earth (Three Sisters Island Trilogy) : 0.6816860154093647
8: Heart of the Sea (Irish Trilogy) : 0.6147314905126207
9: Macgregor Brides (Macgregors) : 0.6131394209272926
10: Reunion in Death : 0.6103306995217594

In [ ]:
def last(n):
    return n[m]  
   
# function to sort the tuple   
def sort(tuples):
  
    # We pass used defined function last
    # as a parameter. 
    return sorted(tuples, key = last)
   
# driver code  
m = 0
print("Sorted:"),
print(sort(books_indices_tuple_list))

Sorted:
[(0.0, 4212), (0.0, 4212), (0.11305768695666196, 5594), (0.11305768695666196, 3679), (0.24087472282851885, 5751), (0.2667644248932335, 6035), (0.28177277282877655, 3872), (0.3266996707758616, 5751), (0.33405227268707416, 4598), (0.339199211607083, 5416), (0.3804144482606372, 5750), (0.381147252244724, 6188), (0.4041562816705375, 2065), (0.4079075122270477, 1490), (0.4208346591548614, 5117), (0.435155991879402, 2931), (0.4353763581357426, 712), (0.4353763581357426, 1), (0.4450775271458697, 5626), (0.45965677304170083, 5807), (0.45965677304170083, 3735), (0.4610900345139266, 5986), (0.4611840939196753, 4068), (0.46278695565358574, 3340), (0.4631718729049811, 3073), (0.4631718729049811, 6075), (0.4631718729049811, 5330), (0.47544377263367676, 462), (0.47799229285914435, 690), (0.4793661138865979, 4534), (0.4841419329454022, 3064), (0.48581190922234996, 4232), (0.4886900074350863, 4543), (0.49105418662890676, 2939), (0.4989002406181078, 5472), (0.5001456220630831, 188), (0.5001456220630831, 3488), (0.5006627424845744, 4098), (0.5014365320396026, 1663), (0.509500594777584, 1736), (0.5122405020980653, 5986), (0.5143772404380479, 2569), (0.5143911590292491, 823), (0.5165049401225386, 4398), (0.5167427252287891, 5634), (0.5176674331889728, 1140), (0.5181001264249401, 3723), (0.5181001264249401, 6160), (0.5181001264249401, 4212), (0.5181001264249401, 3723), (0.5181234296901959, 4692), (0.5184565876569232, 6160), (0.5184565876569232, 4212), (0.5184565876569232, 1053), (0.5184565876569232, 1053), (0.5244036221704107, 1663), (0.5246067163196511, 2854), (0.5261295276626485, 1086), (0.5267073067407162, 446), (0.5267073067407162, 3488), (0.5298060014580386, 460), (0.5313696257884044, 3732), (0.5327432815139514, 5777), (0.5327432815139514, 6116), (0.5327432815139514, 6123), (0.5327432815139514, 5666), (0.5327432815139514, 5368), (0.5327432815139514, 5364), (0.5327432815139514, 5781), (0.5327432815139514, 3946), (0.5339855865972298, 198), (0.5357929174514724, 5641), (0.5365381110313481, 4741), (0.5379988594332763, 2563), (0.5381197846482995, 1114), (0.539172659894625, 3855), (0.5392243224159086, 5809), (0.5396736786925067, 606), (0.5397126910508383, 5925), (0.5398576874929837, 2493), (0.5443612068218265, 178), (0.5447706586811961, 4787), (0.5463907883734855, 4264), (0.5463907883734855, 5610), (0.5463907883734855, 5025), (0.5463907883734855, 5800), (0.5463907883734855, 3993), (0.5463907883734855, 4059), (0.5463907883734855, 5608), (0.5463907883734855, 1457), (0.5475356090899082, 1812), (0.5523385189641548, 3022), (0.553396163030945, 5918), (0.5543804671540649, 1106), (0.5549466654865984, 2288), (0.5549466654865984, 1), (0.5558844083156724, 3406), (0.5575258468435578, 4232), (0.5579391929836663, 2642), (0.5600586549359401, 6012), (0.5600586549359401, 5726), (0.5600586549359401, 6105), (0.5600586549359401, 5175), (0.5600586549359401, 5867), (0.5603317212796983, 5180), (0.5616110269921055, 4136), (0.5618868548398881, 1796), (0.5623118904675914, 5059), (0.5663864623327151, 2642), (0.569142043128779, 1374), (0.5696793229084698, 4369), (0.5702277525197972, 5536), (0.5707001410950527, 5114), (0.5713813295255051, 1564), (0.5718959075333149, 2186), (0.5720222165053621, 2493), (0.5733491600541265, 4553), (0.5748924255783134, 2288), (0.5748924255783134, 712), (0.5760724179355675, 4400), (0.5769201666745691, 4377), (0.5780590021744839, 5207), (0.5785288882942561, 3473), (0.5800188987243456, 5762), (0.5800394744341919, 4059), (0.5800394744341919, 5458), (0.5800394744341919, 6142), (0.5800394744341919, 4416), (0.5800394744341919, 2414), (0.5800394744341919, 5863), (0.5800394744341919, 3533), (0.5808165690482974, 188), (0.5808165690482974, 268), (0.5812589197667775, 3792), (0.5834731769327723, 3734), (0.5838029518596874, 1879), (0.584660694679068, 2281), (0.584660694679068, 2281), (0.5848005631138544, 2690), (0.5848005631138544, 4840), (0.5853018901743178, 4729), (0.5853018901743178, 3382), (0.5853018901743178, 6116), (0.5853018901743178, 5985), (0.5853018901743178, 6118), (0.5853018901743178, 4729), (0.5869429655070915, 4637), (0.5872402224873676, 1130), (0.5888132725273385, 2869), (0.5893383981285238, 2764), (0.59058014970717, 3908), (0.591751709536137, 2657), (0.591751709536137, 4212), (0.591751709536137, 6160), (0.591751709536137, 2657), (0.5917517095361371, 5925), (0.5921710710135006, 3488), (0.5921710710135006, 6160), (0.5921710710135006, 4212), (0.5921710710135006, 3488), (0.5933581603188776, 5815), (0.5942100011630533, 3677), (0.5946963518201125, 5140), (0.595995662485147, 3575), (0.5963113011687001, 2360), (0.5966841587979972, 3160), (0.5970839914260387, 3176), (0.5970839914260387, 1053), (0.5971046670677393, 1658), (0.5972559703213439, 4250), (0.5975187692457318, 1257), (0.5980660644709296, 320), (0.5980660644709296, 6187), (0.599884032632857, 1663), (0.6007009356721755, 460), (0.6012997317406708, 4445), (0.6038815270151086, 3677), (0.6039409828093304, 4759), (0.604941982679372, 3935), (0.6053691814302775, 3117), (0.6060807014208324, 5334), (0.6060807014208324, 6045), (0.6062503845209211, 4431), (0.6067413062871201, 4400), (0.6088859109601782, 3105), (0.6094332670575284, 5594), (0.6094332670575284, 6160), (0.6094332670575284, 4212), (0.6094332670575284, 5594), (0.6104437713298128, 1801), (0.6107166116011029, 4069), (0.6107505279192385, 1739), (0.6107823789746192, 6015), (0.6109776786525993, 3879), (0.6134197810909797, 4406), (0.6142813410334966, 2225), (0.6142813410334966, 3080), (0.6146388496104086, 3285), (0.6163177013768371, 3685), (0.617526845012994, 673), (0.6212910651781636, 2569), (0.6242203110334867, 4839), (0.6242203110334867, 6160), (0.6242203110334867, 4212), (0.6242203110334867, 4839), (0.6254488103363918, 2371), (0.6257479187026317, 2916), (0.6261192367990362, 4727), (0.6283422487280663, 188), (0.6292480011199676, 2639), (0.6298877271778369, 447), (0.6333822124466167, 2288), (0.6333822124466167, 2288), (0.6365438179075931, 6035), (0.6365438179075931, 5487), (0.6382594580238367, 5760), (0.6382594580238367, 6028), (0.6382594580238367, 6040), (0.6386118900908957, 361), (0.6386438148198943, 2118), (0.639332146133027, 5815), (0.6396394590984222, 2233), (0.6397602505091643, 141), (0.642282114917276, 3666), (0.6431841122047917, 2296), (0.645625346068829, 6160), (0.645625346068829, 5557), (0.645625346068829, 6151), (0.645625346068829, 4212), (0.645625346068829, 2827), (0.6460038372976057, 2349), (0.6466437398321956, 1959), (0.6472324208899088, 4696), (0.6478061132018549, 5994), (0.6486465257370981, 2502), (0.64879039884104, 2642), (0.6498495123740732, 5175), (0.6498495123740732, 5801), (0.6498495123740732, 6105), (0.6498495123740732, 5690), (0.6498495123740732, 6012), (0.6498495123740732, 6000), (0.6498495123740732, 4766), (0.6500989173093057, 4111), (0.651326265192129, 1635), (0.6519694706271971, 255), (0.6528106981969839, 3117), (0.6528525021507869, 2569), (0.6535898384862247, 6160), (0.6535898384862247, 4212), (0.6537283194677781, 2389), (0.6547864229305235, 6015), (0.6550788474582625, 4069), (0.6553670320837872, 3688), (0.6565178646132596, 712), (0.6568008884727099, 1020), (0.6586056290005406, 2154), (0.6591006914146433, 6120), (0.6605706416485754, 3675), (0.6619382981085933, 5487), (0.6671544845126871, 1725), (0.668311345006167, 5986), (0.6723805165452197, 4963), (0.6732157424524202, 3409), (0.6763055269751986, 2702), (0.6784528515767436, 1893), (0.6793033687419938, 5279), (0.6800090625476393, 2509), (0.6805828171587274, 3016), (0.6834555310835407, 5820), (0.6853952443110891, 667), (0.6854972681387805, 5856), (0.6854972681387805, 6061), (0.6854972681387805, 5910), (0.6854972681387805, 1208), (0.6861175897128278, 4920), (0.6866369632749083, 6191), (0.6866369632749083, 6194), (0.6866369632749083, 3796), (0.6866369632749083, 4463), (0.6867342551616807, 5991), (0.6867342551616807, 5818), (0.6867342551616807, 6184), (0.689017790029979, 3910), (0.6891045218356497, 1140), (0.6896899377062305, 87), (0.6899975690143738, 3590), (0.690130000373149, 3135), (0.690655887555127, 6157), (0.6989038427608871, 1979), (0.699699549248685, 383), (0.7038818166905199, 1), (0.7042302883598253, 2200), (0.7044656873875637, 4602), (0.7055228800623045, 269), (0.7087123674982323, 2050), (0.7089619661397708, 5744), (0.7112750318447927, 4882), (0.7113578587345817, 4216), (0.7114180558914878, 1455), (0.7115463202402872, 5380), (0.7127712839122701, 4369), (0.713212889931292, 5060), (0.7141720088863635, 181), (0.7142897134498891, 5441), (0.7152393090289582, 2790), (0.7169314965273069, 4279), (0.717505830741545, 5802), (0.7176861307037659, 6016), (0.7176861307037659, 3946), (0.7180608296455127, 6174), (0.7217641419019224, 4822), (0.7227858671831987, 169), (0.7246331191367652, 3954), (0.7247326500599308, 4684), (0.7266707527134675, 4141), (0.7270493125486415, 272), (0.7274113217232867, 3473), (0.7318590388432495, 4839), (0.7334739855469152, 1485), (0.7360397044763709, 4826), (0.7364214336179574, 469), (0.7370903680131555, 2677), (0.7398071805742684, 942), (0.7408574518689803, 1981), (0.740916857742574, 103), (0.743362702223276, 4711), (0.743362702223276, 4519), (0.743362702223276, 4284), (0.7460822270065024, 1871), (0.7469664366249104, 3075), (0.7476227674374656, 5847), (0.7476227674374656, 5716), (0.7476227674374656, 5582), (0.7476227674374656, 552), (0.7499269792659637, 5534), (0.7562883684511548, 2286), (0.75734828291472, 3304), (0.7581676061262281, 1590), (0.7607332921891076, 3665), (0.7619109940782265, 5762), (0.7644632567912782, 2624), (0.7672884533648245, 4077), (0.7719449058393845, 110), (0.7723028927367543, 1136), (0.7728604906937191, 2552), (0.7747393770216895, 3695), (0.7756064455673999, 4969), (0.7756064455673999, 5765), (0.7756064455673999, 3561), (0.7757757353345625, 5810), (0.7810622493598052, 3690), (0.7850967985889157, 1633), (0.7879054916256201, 5988), (0.7892386611415181, 4841), (0.7926433716607483, 4500), (0.7953855006660535, 2762), (0.7953869205368317, 234), (0.7960360656266525, 2874), (0.7976025713215595, 5570), (0.7976465720592586, 1105), (0.7980458010106599, 5835), (0.7980458010106599, 6190), (0.7980802073871593, 2253), (0.7980982139499725, 6192), (0.7980982139499725, 5652), (0.7980982139499725, 4212), (0.7980982139499725, 4858), (0.7994477208012711, 5967), (0.8000963284145565, 5060), (0.8013364818196604, 3488), (0.803040398382509, 1904), (0.8030489617839336, 101), (0.8031412934849024, 1404), (0.8038425665622246, 3437), (0.8043412864195034, 4104), (0.8056327771906828, 6071), (0.8056327771906828, 242), (0.8063379011556235, 1889), (0.8076917728364466, 308), (0.8085441487228475, 5229), (0.8088181070040119, 2123), (0.8092294537019813, 4756), (0.8096739228278254, 1194), (0.8103900700528207, 341), (0.8108818529721287, 2807), (0.8144589042318237, 859), (0.8151468656164282, 652), (0.8256410836072913, 520), (0.8277447997789101, 606), (0.8293091517572567, 925), (0.8305973543512409, 1489), (0.8371170782341582, 921), (0.838706320596091, 3455), (0.8402173226573675, 747), (0.8419651146897466, 4268), (0.8419651146897466, 4876), (0.8419651146897466, 4650), (0.8423118059833483, 4656), (0.844907253417048, 2086)]

In [ ]:
trying[trying["index"]== "The Green Mile: Coffey's Hands (Green Mile Series)"].iloc[:,1:].values.reshape(1,-1),

(array([[0, 0, 0, ..., 0, 0, 0]], dtype=int8),)

In [ ]:
query_index=np.random.choice(cf_predss_df.shape[0])
#query_index=2378
 
distances,indices=model_knn.kneighbors(j[j["index"]== "The Green Mile: Coffey's Hands (Green Mile Series)"].iloc[:,1:].values.reshape(1,-1),n_neighbors=10)
print("Distances -->",distances)
print()
print(" Indices -->",indices)
 
for i in range(0,len(distances.flatten())):
    if i==0:
        print("Recommendation for {0}:\n".format(cf_predss_df.index[query_index]))
    else:
        print("{0}: {1}, with distance of {2}:".format(i,cf_predss_df.index[indices.flatten()[i]],distances.flatten()[i]))

Distances --> [[1.11022302e-16 2.03288309e-01 3.20634921e-01 3.32132344e-01
  3.49914121e-01 4.89114630e-01 6.52342934e-01 7.03043065e-01
  7.32738758e-01 7.32738758e-01]]

 Indices --> [[2097 3154  372 2623  615 3791  522 6157 6178 5531]]
Recommendation for Ashworth Hall (Charlotte &amp; Thomas Pitt Novels (Paperback)):

1: The Green Mile: Night Journey (Green Mile Series), with distance of 0.20328830920575047:
2: The Two Dead Girls (Green Mile Series), with distance of 0.3206349206349206:
3: The Green Mile: Coffey on the Mile (Green Mile Series), with distance of 0.3321323441450932:
4: The Green Mile: The Bad Death of Eduard Delacroix (Green Mile Series), with distance of 0.349914121303192:
5: The Green Mile: The Mouse on the Mile (Green Mile Series), with distance of 0.48911463027029145:
6: Better Times Than These, with distance of 0.6523429344987786:
7: \A\" is for Alibi : A Kinsey Millhone Mystery (A Kinsey Millhone Mystery)", with distance of 0.7030430645417507:
8: The Bachelor's Cat: A Love Story, with distance of 0.7327387580875756:
9: The Alternate, with distance of 0.7327387580875756:

## **Gradient Descent Approach**

In [ ]:
ratings_pivot = book_ratings_train_df.pivot(index='User-ID', columns='Book-Title', values="Book-Rating").fillna(0)
print(ratings_pivot.shape)
ratings_pivot.head()

(1227, 6199)

Book-Title  'Salem's Lot  ...  stardust
User-ID                   ...
254                  0.0  ...       0.0
507                  0.0  ...       0.0
638                  0.0  ...       0.0
882                  0.0  ...       0.0
1131                 0.0  ...       0.0

[5 rows x 6199 columns]

In [ ]:
from scipy.sparse import coo_matrix

R = coo_matrix(ratings_pivot.values)

print ("R Shape::", R.shape)
print ("R Columns::", R.col)
print ("R Rows::",R.row)

R Shape:: (1227, 6199)
R Columns:: [   5  357  358 ... 4639 5054 5193]
R Rows:: [   0    0    0 ... 1226 1226 1226]

In [ ]:
from numpy.linalg import norm

def error(R,P,Q,lamda=0.02):
    ratings = R.data
    rows = R.row
    cols = R.col
    e = 0 
    for ui in range(len(ratings)):
        rui=ratings[ui]
        u = rows[ui]
        i = cols[ui]
        if rui>0:
            e= e + pow(rui-np.dot(P[u,:],Q[:,i]),2)+\
                lamda*(pow(norm(P[u,:]),2)+pow(norm(Q[:,i]),2))
    return e

In [ ]:
def SGD(R, K, lamda=0.02,steps=10, gamma=0.001):
    
    M,N = R.shape
    P = np.random.rand(M,K)
    Q = np.random.rand(K,N)
    
    rmse = np.sqrt(error(R,P,Q,lamda)/len(R.data))
    print("Initial RMSE: "+str(rmse))
    
    for step in range(steps):
        for ui in range(len(R.data)):
            rui=R.data[ui]
            u = R.row[ui]
            i = R.col[ui]
            if rui>0:
                eui=rui-np.dot(P[u,:],Q[:,i])
                P[u,:]=P[u,:]+gamma*2*(eui*Q[:,i]-lamda*P[u,:])
                Q[:,i]=Q[:,i]+gamma*2*(eui*P[u,:]-lamda*Q[:,i])
        rmse = np.sqrt(error(R,P,Q,lamda)/len(R.data))
        if rmse<0.5:
            break
    print("Final RMSE: "+str(rmse))
    return P,Q

In [ ]:
P,Q = SGD(R,K=20,gamma=0.006,lamda=0.017, steps=400)

Initial RMSE: 3.472774450933566
Final RMSE: 0.638636628093251

In [ ]:
all_user_ratings =np.matmul(P, Q)

all_user_ratings

array([[7.59072016, 6.94404326, 7.57692119, ..., 7.31467245, 8.05465588,
        7.57219122],
       [6.13074144, 7.82749811, 7.24366375, ..., 6.38497118, 7.58210531,
        8.01540481],
       [8.52967908, 8.23206213, 9.98180382, ..., 7.87638219, 8.11640614,
        9.87586062],
       ...,
       [7.47616708, 6.05319525, 7.53241536, ..., 7.33034579, 6.45517808,
        7.96532562],
       [5.61513145, 6.834343  , 6.14599369, ..., 5.18621604, 8.50326532,
        7.50996923],
       [7.68104873, 8.16383335, 7.15967266, ..., 6.63592933, 8.91604439,
        8.01939781]])

In [ ]:
user_ids = list(book_ratings_train_df["User-ID"].unique())
book_names = list(book_ratings_train_df["Book-Title"].unique())

In [ ]:
user_list=list(ratings_pivot.index)
book_list=list(ratings_pivot.columns)

In [ ]:
all_user_ratings_df = pd.DataFrame(np.round(all_user_ratings,4),columns=book_list, index=user_list).transpose()
all_user_ratings_df.shape

(6199, 1227)

In [ ]:

# No of Factors - 3
K=3

# using random values of P and Q 
P=np.random.rand(M,K)
Q=np.random.rand(K,N)

In [ ]:
R = occurences.toarray()

mf = MF(R, K=60, alpha=0.04, beta=0.05, iterations=50)
training_process = mf.train()
print()
print("P x Q:")
print(mf.full_matrix())

In [ ]:
mf.full_matrix().shape

(665, 1949)

## **Singular Value Decomposition**

In [ ]:
from scipy.sparse import csr_matrix, lil_matrix
from scipy.sparse.linalg import svds
from tqdm import tqdm
tqdm.pandas()

In [ ]:
book_ratings_train_df['books'] = book_ratings_train_df['Book-Title'].progress_apply(lambda x : np.argwhere(books == x)[0][0])
book_ratings_train_df['users'] = book_ratings_train_df['User-ID'].apply(lambda x : np.argwhere(users == x)[0][0])

100%|██████████| 44256/44256 [00:07<00:00, 6186.55it/s]

In [ ]:
occurences = lil_matrix((users.shape[0], books.shape[0]), dtype='int8')

def set_occurences(visitor, item , rating):
    occurences[visitor, item] = rating

book_ratings_train_df.apply(lambda row: set_occurences(row['users'], row['books'] , row["Book-Rating"]), axis=1)

occurences

<1227x6199 sparse matrix of type '<class 'numpy.int8'>'
	with 44256 stored elements in List of Lists format>

In [ ]:
matrix = occurences.toarray()

user_ratings_mean = np.mean(matrix, axis = 1)
R_demeaned = matrix - user_ratings_mean.reshape(-1, 1)

In [ ]:
# The number of factors to factor the user-item matrix.
NUMBER_OF_FACTORS_MF = 15

#Performs matrix factorization of the original user item matrix
U, sigma, Vt = svds(R_demeaned, k = NUMBER_OF_FACTORS_MF)

In [ ]:
sigma = np.diag(sigma)
sigma.shape

(15, 15)

In [ ]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)

In [ ]:
user_ids = list(book_ratings_train_df["User-ID"].unique())
book_names = list(book_ratings_train_df["Book-Title"].unique())

In [ ]:
svd_preds_df = pd.DataFrame(all_user_predicted_ratings, columns = book_names , index = user_ids).transpose()
svd_preds_df.head()

                                      234359    217740  ...    123608    75149
Navy Blues                          0.035945  0.021791  ...  0.010109 -0.009272
Accident                            0.225526  0.299982  ...  0.064130  0.009306
Dragonsinger (Harper Hall Trilogy)  0.002153  0.019779  ...  0.067893 -0.018941
Holding the Dream (Dream Trilogy)  -0.051971  0.099073  ...  0.034838 -0.074071
A Year in Provence                  0.158823  0.070428  ...  0.053298  0.244647

[5 rows x 1227 columns]

## **Evaluation Time**

In [ ]:
cf_preds_df[217740].sort_values(ascending=False).reset_index().rename(columns={217740 : 'recStrength'})

                                                  index  recStrength
0                                     The Da Vinci Code     1.093589
1                                        A Time to Kill     0.856549
2                                           The Chamber     0.790749
3                                 Bridget Jones's Diary     0.757533
4                                     The Pelican Brief     0.724688
...                                                 ...          ...
6194  Bloody Bones (Anita Blake Vampire Hunter (Pape...    -0.279129
6195                  Seven Up (A Stephanie Plum Novel)    -0.280743
6196  Circus of the Damned (Anita Blake Vampire Hunt...    -0.311737
6197  The Lunatic Cafe (Anita Blake Vampire Hunter (...    -0.329431
6198  The Laughing Corpse (Anita Blake Vampire Hunte...    -0.350710

[6199 rows x 2 columns]

In [ ]:
class CFRecommender:
    
    MODEL_NAME = 'Collaborative Filtering'
    
    def __init__(self, cf_predictions_df, items_df=None):
        self.cf_predictions_df = cf_predictions_df
        self.items_df = items_df
        
    def get_model_name(self):
        return self.MODEL_NAME
      
    def recommend_items(self, user_id, items_to_ignore=[], topn=10, verbose=False):
        # Get and sort the user's predictions
        sorted_user_predictions = self.cf_predictions_df[user_id].sort_values(ascending=False).reset_index().rename(columns={user_id: 'recStrength', 'index' : "Book-Title"})

        # Recommend the highest predicted rating content that the user hasn't seen yet.
        recommendations_df = sorted_user_predictions[~sorted_user_predictions['Book-Title'].isin(items_to_ignore)].sort_values('recStrength', ascending = False).head(topn)

        if verbose:
            if self.items_df is None:
                raise Exception('"items_df" is required in verbose mode')

            recommendations_df = recommendations_df.merge(self.items_df, how = 'left', 
                                                          left_on = 'Book-Title', 
                                                          right_on = 'Book-Title')[['recStrength', 'Book-Title']]


        return recommendations_df
    
cf_recommender_model = CFRecommender(all_user_ratings_df, books_df)

In [ ]:
interactions_full_indexed_df = selected_ratings_df.set_index('User-ID')
interactions_train_indexed_df = book_ratings_train_df.set_index('User-ID')
interactions_test_indexed_df = book_ratings_test_df.set_index('User-ID')

In [ ]:
def get_items_interacted(person_id, interactions_df):
  interacted_items = interactions_df.loc[person_id]['Book-Title']
  return set(interacted_items if type(interacted_items) == pd.Series else [interacted_items])

In [ ]:
import random

In [ ]:
#Top-N accuracy metrics consts
EVAL_RANDOM_SAMPLE_NON_INTERACTED_ITEMS = 100

class ModelEvaluator:

    # Function for getting the set of items which a user has not interacted with
    def get_not_interacted_items_sample(self, person_id, sample_size, seed=42):
        interacted_items = get_items_interacted(person_id, interactions_full_indexed_df)
        person_all_books_ratings = all_user_ratings_df[person_id].sort_values(ascending=False).reset_index().rename(columns={person_id: 'Book-Rating' , 'index' : "Book-Title"})
        all_items = set(person_all_books_ratings['Book-Title'])
        non_interacted_items = all_items - interacted_items

        random.seed(seed)
        non_interacted_items_sample = random.sample(non_interacted_items, sample_size)
        return set(non_interacted_items_sample)

    # Function to verify whether a particular item_id was present in the set of top N recommended items
    def _verify_hit_top_n(self, item_id, recommended_items, topn):        
            try:
                index = next(i for i, c in enumerate(recommended_items) if c == item_id)
            except:
                index = -1
            hit = int(index in range(0, topn))
            return hit, index
    
    # Function to evaluate the performance of model for each user
    def evaluate_model_for_user(self, model, person_id):
        
        # Getting the items in test set
        interacted_values_testset = interactions_test_indexed_df.loc[person_id]
        
        if type(interacted_values_testset['Book-Title']) == pd.Series:
            person_interacted_items_testset = set(interacted_values_testset['Book-Title'])
        else:
            person_interacted_items_testset = set([int(interacted_values_testset['Book-Title'])])
            
        interacted_items_count_testset = len(person_interacted_items_testset) 

        # Getting a ranked recommendation list from the model for a given user
        person_recs_df = model.recommend_items(person_id, items_to_ignore=get_items_interacted(person_id, interactions_train_indexed_df),topn=10000000000)

        hits_at_5_count = 0
        hits_at_10_count = 0
        
        # For each item the user has interacted in test set
        for book_title in person_interacted_items_testset:
            
            # Getting a random sample of 100 items the user has not interacted with
            non_interacted_items_sample = self.get_not_interacted_items_sample(person_id, sample_size=EVAL_RANDOM_SAMPLE_NON_INTERACTED_ITEMS, seed=len(book_title)%(2**32))

            # Combining the current interacted item with the 100 random items
            items_to_filter_recs = non_interacted_items_sample.union(set([book_title]))

            # Filtering only recommendations that are either the interacted item or from a random sample of 100 non-interacted items
            valid_recs_df = person_recs_df[person_recs_df['Book-Title'].isin(items_to_filter_recs)]   
            valid_recs = valid_recs_df['Book-Title'].values

            
            # Verifying if the current interacted item is among the Top-N recommended items
            hit_at_5, index_at_5 = self._verify_hit_top_n(book_title, valid_recs, 5)
            hits_at_5_count += hit_at_5
            hit_at_10, index_at_10 = self._verify_hit_top_n(book_title, valid_recs, 10)
            hits_at_10_count += hit_at_10

        # Recall is the rate of the interacted items that are ranked among the Top-N recommended items
        recall_at_5 = hits_at_5_count / float(interacted_items_count_testset)
        recall_at_10 = hits_at_10_count / float(interacted_items_count_testset)

        person_metrics = {'hits@5_count':hits_at_5_count, 
                          'hits@10_count':hits_at_10_count, 
                          'interacted_count': interacted_items_count_testset,
                          'recall@5': recall_at_5,
                          'recall@10': recall_at_10}
        return person_metrics

    
    # Function to evaluate the performance of model at overall level
    def evaluate_model(self, model):
        
        people_metrics = []
        
        
        #interactions_test_indexed_fdf = interactions_test_indexed_df[interactions_test_indexed_df["Book-Rating"] >= 6.5]
        for idx, person_id in enumerate(list(interactions_test_indexed_df.index.unique().values)):    
            person_metrics = self.evaluate_model_for_user(model, person_id)  
            person_metrics['_person_id'] = person_id
            people_metrics.append(person_metrics)
            
        print('%d users processed' % idx)

        detailed_results_df = pd.DataFrame(people_metrics).sort_values('interacted_count', ascending=False)
        
        global_recall_at_5 = detailed_results_df['hits@5_count'].sum() / float(detailed_results_df['interacted_count'].sum())
        global_recall_at_10 = detailed_results_df['hits@10_count'].sum() / float(detailed_results_df['interacted_count'].sum())
        
        global_metrics = {'modelName': model.get_model_name(),
                          'recall@5': global_recall_at_5,
                          'recall@10': global_recall_at_10}    
        return global_metrics, detailed_results_df
    
model_evaluator = ModelEvaluator()

In [ ]:
print('Evaluating Collaborative Filtering (SVD Matrix Factorization) model...')
cf_global_metrics, cf_detailed_results_df = model_evaluator.evaluate_model(cf_recommender_model)

print('\nGlobal metrics:\n%s' % cf_global_metrics)
cf_detailed_results_df.head(10)

Evaluating Collaborative Filtering (SVD Matrix Factorization) model...
1226 users processed

Global metrics:
{'modelName': 'Collaborative Filtering', 'recall@5': 0.0774584237165582, 'recall@10': 0.14000361532899494}

     hits@5_count  hits@10_count  ...  recall@10  _person_id
11             15             32  ...   0.078818       11676
135             2              6  ...   0.068182       98391
53              1              5  ...   0.064935      153662
8               7              7  ...   0.095890       16795
95              2              5  ...   0.078125      114368
124             8              9  ...   0.150000       95359
17              4              6  ...   0.100000      104636
66              0              0  ...   0.000000      123883
179             3              4  ...   0.085106      158295
200             4              5  ...   0.119048      135149

[10 rows x 6 columns]

# Evaluation

In [ ]:
pip install surprise

Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 3.0 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.21.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1630153 sha256=719848213e2cdba69aabcf1022f340dc59e13d3589f42222eecb2d906b4167d4
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [ ]:
import itertools

from surprise import accuracy
from collections import defaultdict

class RecommenderMetrics:

    def MAE(predictions):
        return accuracy.mae(predictions, verbose=False)

    def RMSE(predictions):
        return accuracy.rmse(predictions, verbose=False)

    def GetTopN(predictions, n=10, minimumRating=4.0):
        topN = defaultdict(list)


        for userID, movieID, actualRating, estimatedRating, _ in predictions:
            if (estimatedRating >= minimumRating):
                topN[int(userID)].append((int(movieID), estimatedRating))

        for userID, ratings in topN.items():
            ratings.sort(key=lambda x: x[1], reverse=True)
            topN[int(userID)] = ratings[:n]

        return topN

    def HitRate(topNPredicted, leftOutPredictions):
        hits = 0
        total = 0

        # For each left-out rating
        for leftOut in leftOutPredictions:
            userID = leftOut[0]
            leftOutMovieID = leftOut[1]
            # Is it in the predicted top 10 for this user?
            hit = False
            for movieID, predictedRating in topNPredicted[int(userID)]:
                if (int(leftOutMovieID) == int(movieID)):
                    hit = True
                    break
            if (hit) :
                hits += 1

            total += 1

        # Compute overall precision
        return hits/total

    def CumulativeHitRate(topNPredicted, leftOutPredictions, ratingCutoff=0):
        hits = 0
        total = 0

        # For each left-out rating
        for userID, leftOutMovieID, actualRating, estimatedRating, _ in leftOutPredictions:
            # Only look at ability to recommend things the users actually liked...
            if (actualRating >= ratingCutoff):
                # Is it in the predicted top 10 for this user?
                hit = False
                for movieID, predictedRating in topNPredicted[int(userID)]:
                    if (int(leftOutMovieID) == movieID):
                        hit = True
                        break
                if (hit) :
                    hits += 1

                total += 1

        # Compute overall precision
        return hits/total

    def RatingHitRate(topNPredicted, leftOutPredictions):
        hits = defaultdict(float)
        total = defaultdict(float)

        # For each left-out rating
        for userID, leftOutMovieID, actualRating, estimatedRating, _ in leftOutPredictions:
            # Is it in the predicted top N for this user?
            hit = False
            for movieID, predictedRating in topNPredicted[int(userID)]:
                if (int(leftOutMovieID) == movieID):
                    hit = True
                    break
            if (hit) :
                hits[actualRating] += 1

            total[actualRating] += 1

        # Compute overall precision
        for rating in sorted(hits.keys()):
            print (rating, hits[rating] / total[rating])

    def AverageReciprocalHitRank(topNPredicted, leftOutPredictions):
        summation = 0
        total = 0
        # For each left-out rating
        for userID, leftOutMovieID, actualRating, estimatedRating, _ in leftOutPredictions:
            # Is it in the predicted top N for this user?
            hitRank = 0
            rank = 0
            for movieID, predictedRating in topNPredicted[int(userID)]:
                rank = rank + 1
                if (int(leftOutMovieID) == movieID):
                    hitRank = rank
                    break
            if (hitRank > 0) :
                summation += 1.0 / hitRank

            total += 1

        return summation / total

    # What percentage of users have at least one "good" recommendation
    def UserCoverage(topNPredicted, numUsers, ratingThreshold=0):
        hits = 0
        for userID in topNPredicted.keys():
            hit = False
            for movieID, predictedRating in topNPredicted[userID]:
                if (predictedRating >= ratingThreshold):
                    hit = True
                    break
            if (hit):
                hits += 1

        return hits / numUsers

    def Diversity(topNPredicted, simsAlgo):
        n = 0
        total = 0
        simsMatrix = simsAlgo.compute_similarities()
        for userID in topNPredicted.keys():
            pairs = itertools.combinations(topNPredicted[userID], 2)
            for pair in pairs:
                movie1 = pair[0][0]
                movie2 = pair[1][0]
                innerID1 = simsAlgo.trainset.to_inner_iid(str(movie1))
                innerID2 = simsAlgo.trainset.to_inner_iid(str(movie2))
                similarity = simsMatrix[innerID1][innerID2]
                total += similarity
                n += 1

        S = total / n
        return (1-S)

    def Novelty(topNPredicted, rankings):
        n = 0
        total = 0
        for userID in topNPredicted.keys():
            for rating in topNPredicted[userID]:
                movieID = rating[0]
                rank = rankings[movieID]
                total += rank
                n += 1
        return total / n

In [ ]:
def read_books(userid):
  user_read_books = book_ratings_train_df[book_ratings_train_df["User-ID"] == userid]["Book-Title"]
  list_of_read_books = list(user_read_books["Book-Title"].values)
  return list_of_read_books

In [ ]:
def recommend_books(userid , n):
  user_recommendations = cf_preds_df.iloc[userid,].sort_values(by = userid , ascending = False , axis = 1)
  read_books_list = read_books(userid)
  user_recommendations = user_recommendations.T.reset_index().rename(columns = {"index" : "books" , "0" : "Book-Rating"})
  filtered_recommendations = user_recommendations[~user_recommendations["books"].isin(read_books_list)].head(n)
  return filtered_recommendations

In [ ]:
def precision_at_K( userid , k):
  topk_recommendation = recommend_books(userid , 100).head(k)
  test_set_books = book_ratings_test_df[book_ratings_test_df["User-ID"] == userid]["Book-Title"]

In [ ]:
class modelEvaluator():


  def