<a href="https://colab.research.google.com/github/Yash1289/Book_Recommendations/blob/main/Book_Recommender_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

In [1]:
import numpy as np
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
books_path = "/content/drive/MyDrive/Colab Notebooks/data_book_recommendation/Books.csv"
ratings_path = "/content/drive/MyDrive/Colab Notebooks/data_book_recommendation/Ratings.csv"
users_path = "/content/drive/MyDrive/Colab Notebooks/data_book_recommendation/Users.csv"

In [5]:
books_df = pd.read_csv(books_path , low_memory=False)
ratings_df = pd.read_csv(ratings_path , low_memory = False)
users_df = pd.read_csv(users_path , low_memory = False)

In [7]:
books_df.head(3)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...

In [8]:
ratings_df.head(3)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0

In [9]:
users_df.head(3)

   User-ID                         Location   Age
0        1               nyc, new york, usa   NaN
1        2        stockton, california, usa  18.0
2        3  moscow, yukon territory, russia   NaN

In [10]:
print(books_df.shape)
print(ratings_df.shape)
print(users_df.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [11]:
explicit_ratings_df = ratings_df[ratings_df["Book-Rating"] != 0]
explicit_userids = list(explicit_ratings_df["User-ID"].unique())
explicit_users_df = users_df[users_df["User-ID"].isin(explicit_userids)]

In [12]:
explicit_ratings_df = explicit_ratings_df.groupby("ISBN").filter(lambda x : len(x) >= 15)
explicit_ratings_df["ISBN"].value_counts()

0316666343    707
0971880107    581
0385504209    487
0312195516    383
0679781587    333
             ...
0375701427     15
0743456173     15
044022330X     15
0060191988     15
0679447156     15
Name: ISBN, Length: 3244, dtype: int64

In [13]:
explicit_ratings_df[explicit_ratings_df.duplicated(subset = ["User-ID" , "ISBN"])]

Empty DataFrame
Columns: [User-ID, ISBN, Book-Rating]
Index: []

In [14]:
explicit_ratings_df["User-ID"].nunique()

35378

In [15]:
books_ratings_df = pd.merge(explicit_ratings_df , books_df , on = ["ISBN"])

In [16]:
books_ratings_df["User-ID"].nunique()

34573

In [17]:
books_ratings_df[books_ratings_df["ISBN"].str.len() != 10 ]

Empty DataFrame
Columns: [User-ID, ISBN, Book-Rating, Book-Title, Book-Author, Year-Of-Publication, Publisher, Image-URL-S, Image-URL-M, Image-URL-L]
Index: []

In [18]:
users_books_ratings_df = pd.merge(books_ratings_df , explicit_users_df , on =["User-ID"])
users_books_ratings_df["User-ID"].nunique()

34573

In [19]:
users_books_ratings_df.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Location,Age
0,276744,038550120X,7,A Painted House,JOHN GRISHAM,2001,Doubleday,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,"torrance, california, usa",NaN
1,11676,038550120X,10,A Painted House,JOHN GRISHAM,2001,Doubleday,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,"n/a, n/a, n/a",NaN
2,11676,0671537458,8,Waiting to Exhale,Terry McMillan,1995,Pocket,http://images.amazon.com/images/P/0671537458.0...,http://images.amazon.com/images/P/0671537458.0...,http://images.amazon.com/images/P/0671537458.0...,"n/a, n/a, n/a",NaN
3,11676,0679776818,8,Birdsong: A Novel of Love and War,Sebastian Faulks,1997,Vintage Books USA,http://images.amazon.com/images/P/0679776818.0...,http://images.amazon.com/images/P/0679776818.0...,http://images.amazon.com/images/P/0679776818.0...,"n/a, n/a, n/a",NaN
4,11676,0684867621,3,The Girl Who Loved Tom Gordon : A Novel,Stephen King,1999,Scribner,http://images.amazon.com/images/P/0684867621.0...,http://images.amazon.com/images/P/0684867621.0...,http://images.amazon.com/images/P/0684867621.0...,"n/a, n/a, n/a",NaN

In [20]:
users_ratedBooks_count_df = users_books_ratings_df.groupby(['User-ID', 'ISBN']).size().groupby('User-ID').size()
print('# of users: %d' % len(users_ratedBooks_count_df))

users_with_enough_ratedBooks_df = users_ratedBooks_count_df[users_ratedBooks_count_df >= 15].reset_index()[['User-ID']]
print('# of users with at least 15 interactions: %d' % len(users_with_enough_ratedBooks_df))

# of users: 34573
# of users with at least 15 interactions: 1266

In [21]:
print('# of interactions: %d' % len(users_books_ratings_df))
ratings_from_selected_users_df = users_books_ratings_df.merge(users_with_enough_ratedBooks_df, 
               how = 'right',
               left_on = 'User-ID',
               right_on = 'User-ID')
print('# of interactions from users with at least 15 interactions: %d' % len(ratings_from_selected_users_df))

# of interactions: 112631
# of interactions from users with at least 15 interactions: 41252

In [22]:
dupilcate_books_index = ratings_from_selected_users_df[ratings_from_selected_users_df.duplicated( subset = ["User-ID" , "Book-Title"], keep= "last")].index
ratings_from_selected_users_df.drop(dupilcate_books_index , inplace = True)

In [23]:
ratings_from_selected_users_df.shape

(41024, 12)

In [24]:
recSys_df = ratings_from_selected_users_df.copy()

# **EDA**

In [124]:
recSys_eda_df = ratings_from_selected_users_df.copy()

# **Different Recommender System**

In [25]:
pip install surprise

Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 7.4 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.21.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1630207 sha256=89a4acda30a0120258b2fde754ade51bed2f039c25ccda0ac1c05b078ca056ad
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [26]:
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import train_test_split
from surprise.model_selection import LeaveOneOut

from collections import defaultdict
import numpy as np

## **Popular Books Recommender**

In [27]:
def getPopularityRanks(df, topn , userId):
  df_unread = df[df["User-ID"] != userId ]
  df_recommendation = df_unread.groupby(["Book-Title"]).agg({ "User-ID" : "count" , "Book-Rating" : "mean"}).reset_index().sort_values(by = "User-ID" , ascending = False)
  return df_recommendation.head(10)

In [28]:
user_id = np.random.choice(recSys_df["User-ID"].values)

getPopularityRanks(recSys_df , 10 , user_id)

                                             Book-Title  User-ID  Book-Rating
2253                          The Lovely Bones: A Novel      186     8.241935
2023                                  The Da Vinci Code      143     8.559441
2414                            The Secret Life of Bees      133     8.691729
891    Harry Potter and the Chamber of Secrets (Book 2)      121     8.826446
357                               Bridget Jones's Diary      116     7.534483
895   Harry Potter and the Prisoner of Azkaban (Book 3)      113     9.132743
2376                The Red Tent (Bestselling Backlist)      109     8.532110
893        Harry Potter and the Goblet of Fire (Book 4)      100     9.190000
2298                         The Nanny Diaries: A Novel      100     7.390000
72                                      A Painted House       99     7.767677

## **Author Based Recommendation**

In [29]:
def get_authors(userId , df):
  author_set = set(df[df["User-ID"] == userId]["Book-Author"])
  #refined_author_set = set([ (x.lower()).capitalize() for x in author_set])
  return list(author_set)

In [ ]:
def getPopularityRanks(df, topn , userId):
  df_unread = df[df["User-ID"] != userId ]
  df_recommendation = df_unread.groupby(["Book-Title"]).agg({ "User-ID" : "count" , "Book-Rating" : "mean"}).reset_index().sort_values(by = "User-ID" , ascending = False)
  return df_recommendation.head(10)

In [30]:
user_id = np.random.choice(recSys_df["User-ID"].values)
authors_list = get_authors(136326 , recSys_df)
filtered_df = recSys_df[recSys_df["Book-Author"].isin(authors_list)]

In [31]:
getPopularityRanks(filtered_df , 10 , 136326)

                                            Book-Title  User-ID  Book-Rating
95                          The Nanny Diaries: A Novel       99     7.393939
44                          Interview with the Vampire       83     7.698795
68                   Seven Up (A Stephanie Plum Novel)       62     8.419355
51                                              Misery       60     8.200000
18                                        Dreamcatcher       60     7.616667
35   Hard Eight : A Stephanie Plum Novel (A Stephan...       59     8.084746
117                                  Two for the Dough       58     8.500000
60   One for the Money (Stephanie Plum Novels (Pape...       54     8.055556
97   The No. 1 Ladies' Detective Agency (Today Show...       52     8.461538
26              Four To Score (A Stephanie Plum Novel)       51     8.411765

## **Train And Test Data Preparation**

In [32]:
reader = Reader()

recSys_surprise_df = Dataset.load_from_df(recSys_df[["User-ID" , "ISBN" , "Book-Rating"]], reader=reader)

In [33]:
LOOCV = LeaveOneOut(n_splits=1, random_state=1)

In [34]:
def splitter():
  for trainSet, testSet in LOOCV.split(recSys_surprise_df):
    return trainSet, testSet

In [35]:
trainSet, testSet = splitter()

In [36]:
testSet

[(254, '0064471047', 7.0),
 (638, '0316779490', 9.0),
 (882, '0425179672', 10.0),
 (1131, '0345370805', 7.0),
 (1435, '068484267X', 8.0),
 (2033, '0140386645', 8.0),
 (2276, '0805063897', 10.0),
 (2766, '0553279912', 7.0),
 (2891, '0156027321', 5.0),
 (3363, '0380754843', 8.0),
 (3373, '0375727345', 7.0),
 (3827, '034538475X', 8.0),
 (4017, '0375707972', 10.0),
 (5476, '0446530387', 7.0),
 (5582, '0140293248', 9.0),
 (6073, '0440226430', 6.0),
 (6242, '1573229326', 6.0),
 (6251, '068484267X', 8.0),
 (6323, '0440236169', 2.0),
 (6543, '0380792745', 9.0),
 (6563, '0385413041', 8.0),
 (6575, '0060926317', 2.0),
 (7125, '0767907817', 8.0),
 (7158, '0373218958', 9.0),
 (7283, '0060987103', 9.0),
 (7346, '0345384911', 6.0),
 (7915, '042511774X', 8.0),
 (8066, '038548951X', 8.0),
 (8067, '0446692298', 10.0),
 (8245, '0060199652', 6.0),
 (8253, '0380977788', 10.0),
 (8454, '0385720106', 6.0),
 (8681, '0380973650', 10.0),
 (9417, '0671525433', 5.0),
 (9613, '0441000916', 7.0),
 (9856, '0061092177', 8.0),
 (10314, '0679774025', 6.0),
 (10447, '0060976845', 8.0),
 (10560, '043935806X', 10.0),
 (11224, '1558746226', 8.0),
 (11245, '0440236673', 7.0),
 (11601, '0671250671', 10.0),
 (11676, '0894808249', 3.0),
 (11724, '0515090166', 9.0),
 (11993, '0064400050', 9.0),
 (12538, '0671726889', 8.0),
 (12824, '0060928336', 4.0),
 (12982, '0671888587', 8.0),
 (13273, '1400031346', 8.0),
 (13552, '0345384466', 10.0),
 (13582, '0671722859', 9.0),
 (13850, '039480029X', 10.0),
 (14422, '0618002219', 8.0),
 (14456, '0679735771', 8.0),
 (14521, '0061000027', 5.0),
 (15049, '0842329285', 8.0),
 (15408, '0684848783', 10.0),
 (15602, '0393314804', 10.0),
 (16106, '0156028778', 9.0),
 (16634, '0553212583', 8.0),
 (16718, '0679732411', 8.0),
 (16795, '0786866845', 9.0),
 (16916, '0440214041', 10.0),
 (17003, '0452269571', 10.0),
 (17859, '0425154092', 10.0),
 (17950, '0786889020', 5.0),
 (18067, '0440226430', 4.0),
 (19085, '0312973055', 7.0),
 (19493, '0375703063', 9.0),
 (19664, '0425169693', 8.0),
 (19711, '0446600474', 6.0),
 (20060, '0440224764', 9.0),
 (20172, '0553208845', 10.0),
 (20180, '0449206475', 10.0),
 (20201, '0440206154', 7.0),
 (21011, '0743237188', 8.0),
 (21014, '0060915544', 8.0),
 (21031, '0446364193', 10.0),
 (21356, '068484477X', 7.0),
 (21404, '1853260282', 7.0),
 (21484, '0345342968', 8.0),
 (21576, '0345342968', 8.0),
 (21618, '0156007479', 6.0),
 (21659, '0671001132', 10.0),
 (22074, '0440236673', 7.0),
 (22625, '0439064864', 10.0),
 (23511, '0385508417', 10.0),
 (23571, '0064471071', 10.0),
 (23768, '0670865796', 5.0),
 (23872, '0451190572', 10.0),
 (23902, '0345301110', 7.0),
 (24433, '055326611X', 9.0),
 (24933, '0553586122', 10.0),
 (25409, '0380818973', 7.0),
 (25981, '1551668912', 5.0),
 (26544, '0446672211', 5.0),
 (26620, '0312966970', 7.0),
 (26621, '0385335482', 9.0),
 (26883, '0425152499', 9.0),
 (27472, '067976402X', 8.0),
 (27617, '0452262143', 10.0),
 (27647, '0786817879', 7.0),
 (27740, '0312976275', 7.0),
 (28177, '0375707972', 6.0),
 (28204, '0552996009', 9.0),
 (28451, '0373270976', 7.0),
 (28619, '0316782262', 10.0),
 (28634, '0316666343', 10.0),
 (29209, '0316735736', 9.0),
 (29259, '0345313860', 10.0),
 (29526, '0439139597', 10.0),
 (29855, '0316781010', 7.0),
 (30035, '0064472272', 5.0),
 (30081, '0449907481', 10.0),
 (30273, '0670031062', 7.0),
 (30276, '0446610542', 5.0),
 (30487, '0449005615', 9.0),
 (30511, '0385721676', 8.0),
 (30533, '0060930535', 8.0),
 (30711, '0375701214', 8.0),
 (30735, '0399147195', 10.0),
 (30972, '0425163407', 9.0),
 (30994, '0452281032', 9.0),
 (31315, '0553801341', 10.0),
 (31391, '0743418174', 10.0),
 (31393, '0440235596', 8.0),
 (31556, '0061097853', 7.0),
 (31826, '0671673688', 10.0),
 (32148, '0380619458', 7.0),
 (32440, '0860074382', 9.0),
 (32599, '0345342968', 7.0),
 (32721, '0061097861', 8.0),
 (32773, '0345342968', 9.0),
 (32802, '0446612731', 9.0),
 (33124, '0515121495', 9.0),
 (33580, '0671027360', 10.0),
 (33818, '0451160525', 9.0),
 (33933, '0345353145', 8.0),
 (33974, '0451167805', 9.0),
 (34300, '0375726403', 5.0),
 (34588, '0670892963', 8.0),
 (35704, '0553562614', 8.0),
 (35836, '0425098605', 5.0),
 (35857, '0671689746', 7.0),
 (35859, '0312966091', 9.0),
 (36003, '0439064864', 10.0),
 (36135, '014025448X', 8.0),
 (36256, '0894805770', 8.0),
 (36299, '0441304834', 10.0),
 (36606, '0064440508', 10.0),
 (36609, '081296683X', 7.0),
 (36715, '1853260010', 10.0),
 (36807, '0142000205', 9.0),
 (36817, '0060976845', 6.0),
 (36907, '0060392452', 10.0),
 (37208, '0449221504', 7.0),
 (37227, '0140270590', 10.0),
 (37400, '0060830956', 10.0),
 (37512, '0553262505', 5.0),
 (37538, '1573228214', 10.0),
 (37644, '084233226X', 9.0),
 (37712, '0345436911', 8.0),
 (37950, '0345422589', 6.0),
 (38023, '0380014300', 10.0),
 (38273, '0425155722', 5.0),
 (38281, '0812533054', 6.0),
 (38556, '0312983271', 5.0),
 (39281, '0743246071', 9.0),
 (39345, '0553278592', 7.0),
 (39467, '0312422156', 10.0),
 (39646, '0440226406', 5.0),
 (39773, '0679444815', 8.0),
 (40415, '0451191145', 10.0),
 (40889, '0345339681', 10.0),
 (40914, '0452281903', 8.0),
 (40943, '0064400018', 10.0),
 (41084, '0425127583', 8.0),
 (41455, '0553274295', 9.0),
 (41781, '0312982518', 9.0),
 (41841, '0142000205', 7.0),
 (42093, '0671001795', 9.0),
 (42458, '0312978367', 9.0),
 (42914, '1558744592', 10.0),
 (43246, '0449223604', 9.0),
 (43481, '0142000205', 9.0),
 (43619, '0440225701', 9.0),
 (43687, '0553280945', 7.0),
 (43842, '0345438825', 10.0),
 (43910, '0316777730', 9.0),
 (44252, '0449206475', 7.0),
 (44728, '014038572X', 8.0),
 (44852, '0440212561', 10.0),
 (44893, '1573225517', 8.0),
 (45315, '0345447840', 7.0),
 (45557, '0375504613', 8.0),
 (46398, '0375411550', 6.0),
 (46443, '0385729340', 8.0),
 (46909, '0452282128', 9.0),
 (47316, '0743437802', 9.0),
 (48025, '074343627X', 8.0),
 (48046, '0345404475', 9.0),
 (48494, '0553272837', 8.0),
 (48743, '0440241073', 8.0),
 (48975, '0671525743', 8.0),
 (49212, '0312201656', 4.0),
 (49225, '059035342X', 8.0),
 (49422, '0425116840', 8.0),
 (49460, '0670892963', 9.0),
 (50073, '0805010858', 9.0),
 (50225, '0671025333', 5.0),
 (50895, '0446609617', 6.0),
 (51350, '0743418204', 9.0),
 (51365, '0399150897', 7.0),
 (51450, '0140293248', 6.0),
 (51526, '0140067477', 6.0),
 (51742, '0743412028', 8.0),
 (51883, '0345384377', 8.0),
 (51992, '0452280621', 7.0),
 (52199, '084395048X', 10.0),
 (52350, '0836218221', 9.0),
 (52521, '0425146413', 10.0),
 (52584, '0385335121', 8.0),
 (52853, '044022425X', 9.0),
 (52917, '0449213447', 7.0),
 (53174, '0553268880', 9.0),
 (53220, '0440236673', 10.0),
 (53241, '0060987529', 7.0),
 (53278, '0684833395', 9.0),
 (53304, '0679459618', 10.0),
 (53456, '0440174643', 8.0),
 (53614, '0142003727', 7.0),
 (54335, '0671027387', 8.0),
 (55187, '0670032379', 10.0),
 (55438, '0140254544', 10.0),
 (55490, '0380789035', 10.0),
 (55492, '0679742298', 9.0),
 (55493, '0061044431', 9.0),
 (55751, '0446519723', 5.0),
 (55799, '0375502238', 7.0),
 (55892, '0064407683', 9.0),
 (55927, '0140250948', 7.0),
 (56307, '0061015725', 5.0),
 (56391, '0312421273', 5.0),
 (56399, '0804108447', 10.0),
 (56447, '0440995779', 6.0),
 (56554, '0373250126', 9.0),
 (56804, '0446672211', 5.0),
 (56856, '0684865742', 10.0),
 (56959, '0380796090', 7.0),
 (57398, '0380730847', 9.0),
 (57599, '0345310020', 7.0),
 (58594, '0312305060', 7.0),
 (59150, '0553275976', 7.0),
 (59172, '0440111811', 10.0),
 (59269, '1558744630', 10.0),
 (60050, '0425097609', 9.0),
 (60244, '0679426159', 9.0),
 (60337, '038550120X', 8.0),
 (60621, '0786868716', 9.0),
 (60707, '0312991460', 8.0),
 (61038, '0440223571', 5.0),
 (61427, '0804105820', 8.0),
 (61854, '0446364266', 8.0),
 (61901, '0609608444', 9.0),
 (62272, '0671001795', 10.0),
 (62542, '0385721420', 7.0),
 (62558, '0452282152', 6.0),
 (62862, '0399150838', 6.0),
 (62891, '0440967694', 8.0),
 (62966, '0312263120', 8.0),
 (63394, '0451180232', 9.0),
 (63625, '0140386645', 10.0),
 (63854, '0345440765', 9.0),
 (63956, '0836204387', 10.0),
 (64436, '0060086386', 6.0),
 (65258, '0345369335', 9.0),
 (65584, '0553584480', 8.0),
 (65663, '0345353145', 10.0),
 (65877, '0451203771', 10.0),
 (66073, '0385722206', 8.0),
 (66574, '0312422156', 9.0),
 (66680, '0446611867', 5.0),
 (66942, '0451167317', 8.0),
 (67547, '0385722206', 8.0),
 (67591, '0316780375', 8.0),
 (67663, '0385503954', 6.0),
 (67840, '0671028375', 10.0),
 (68128, '0440224675', 7.0),
 (68185, '0441328091', 9.0),
 (68436, '0345453743', 8.0),
 (68555, '0312195516', 10.0),
 (68984, '0842329269', 9.0),
 (69078, '0375500510', 8.0),
 (69156, '051513239X', 5.0),
 (69211, '0425180964', 10.0),
 (69232, '0446527033', 10.0),
 (69355, '0140067477', 5.0),
 (69378, '0064404994', 9.0),
 (69389, '0553269216', 8.0),
 (69405, '006001203X', 8.0),
 (69684, '0767903854', 8.0),
 (69697, '042517140X', 10.0),
 (69971, '0312201656', 8.0),
 (70052, '0380715929', 8.0),
 (70415, '0684835959', 8.0),
 (70594, '0142002267', 9.0),
 (70666, '0786862572', 8.0),
 (71490, '0425169693', 5.0),
 (72214, '0684857820', 7.0),
 (73044, '0452280621', 8.0),
 (73330, '0440136482', 7.0),
 (73394, '0553801341', 10.0),
 (73588, '0345404114', 3.0),
 (73651, '0373218397', 5.0),
 (73681, '0553250531', 6.0),
 (73923, '0385418493', 8.0),
 (74056, '0439139597', 10.0),
 (74286, '0142001740', 4.0),
 (75149, '0156027321', 7.0),
 (75485, '0060977337', 9.0),
 (75591, '0345438329', 9.0),
 (75819, '0316666343', 9.0),
 (76019, '0345362861', 8.0),
 (76151, '0671776800', 10.0),
 (76223, '0553573403', 10.0),
 (76352, '0060921145', 8.0),
 (76483, '1558745718', 10.0),
 (76499, '0802130208', 10.0),
 (76530, '0805063897', 7.0),
 (76626, '0836218655', 9.0),
 (76818, '038533656X', 3.0),
 (76888, '0385720920', 10.0),
 (76942, '0671708635', 7.0),
 (77480, '0385472951', 8.0),
 (77809, '0142004030', 9.0),
 (78015, '0440226430', 8.0),
 (78448, '0440235162', 8.0),
 (78553, '044048474X', 10.0),
 (78783, '0425169863', 10.0),
 (78834, '0345342569', 10.0),
 (78973, '0451184963', 8.0),
 (79266, '0515133418', 8.0),
 (79441, '0441359175', 9.0),
 (79740, '0446610178', 5.0),
 (79977, '0425143325', 7.0),
 (80538, '038070613X', 9.0),
 (80683, '0679746048', 9.0),
 (80810, '014038572X', 10.0),
 (80945, '0446608815', 7.0),
 (81216, '0877017883', 7.0),
 (81263, '0345413377', 10.0),
 (81298, '1559029838', 4.0),
 (81318, '0767905180', 8.0),
 (81492, '0385509456', 9.0),
 (81560, '0345335708', 9.0),
 (81597, '0446519804', 8.0),
 (81682, '0449221490', 7.0),
 (81771, '0684872153', 8.0),
 (81848, '0399149155', 7.0),
 (81977, '0811801802', 9.0),
 (82407, '1550548913', 8.0),
 (82497, '0345380371', 7.0),
 (83287, '0449221482', 10.0),
 (83637, '0380725231', 7.0),
 (83646, '0385336179', 7.0),
 (83671, '0553349481', 9.0),
 (84024, '0446603716', 8.0),
 (84795, '0553564528', 9.0),
 (84882, '0312924801', 7.0),
 (85426, '0375700757', 9.0),
 (85526, '0740723367', 5.0),
 (85656, '0451197410', 9.0),
 (85757, '0380727501', 8.0),
 (85993, '0671741039', 10.0),
 (86145, '0553258524', 10.0),
 (86189, '0140257934', 6.0),
 (86202, '1400031354', 7.0),
 (86243, '0553262505', 7.0),
 (86720, '0553569031', 6.0),
 (86835, '006016848X', 6.0),
 (87141, '0425109720', 8.0),
 (87555, '0553277537', 10.0),
 (87712, '1558745157', 10.0),
 (87938, '0064471047', 8.0),
 (87964, '0394820371', 5.0),
 (88122, '0345387651', 10.0),
 (88229, '0836220498', 10.0),
 (88283, '0451526554', 8.0),
 (88693, '0374121230', 8.0),
 (88733, '044098761X', 10.0),
 (88738, '0553299506', 10.0),
 (88793, '0446391301', 8.0),
 (88937, '0688177859', 5.0),
 (89602, '0446310786', 9.0),
 (90198, '0440214041', 7.0),
 (90417, '0316781010', 9.0),
 (90616, '0345409469', 5.0),
 (91058, '0375706771', 5.0),
 (91103, '0525945938', 6.0),
 (91113, '0515135062', 7.0),
 (91184, '0836204387', 5.0),
 (91342, '0373484003', 8.0),
 (91832, '0679720200', 10.0),
 (92405, '0446343455', 5.0),
 (92547, '0156528207', 9.0),
 (92810, '0425182908', 6.0),
 (93047, '0380978415', 8.0),
 (93092, '0446606812', 10.0),
 (93179, '0451166892', 9.0),
 (93363, '0842332251', 7.0),
 (93426, '0380817683', 7.0),
 (93453, '0316693235', 9.0),
 (93629, '0345303067', 6.0),
 (94347, '0345368754', 7.0),
 (94494, '0385336810', 9.0),
 (94787, '0449219410', 10.0),
 (94951, '0380789019', 9.0),
 (95173, '0786817070', 5.0),
 (95316, '0671617028', 9.0),
 (95359, '015100692X', 9.0),
 (95506, '0590484753', 8.0),
 (95903, '0451172817', 8.0),
 (95932, '0671039725', 8.0),
 (95991, '0449221512', 7.0),
 (96357, '0679744398', 8.0),
 (96440, '0446671002', 9.0),
 (96448, '0064410129', 9.0),
 (96744, '0446357405', 5.0),
 (97754, '0380723638', 9.0),
 (97874, '0671524313', 5.0),
 (98263, '1400034779', 10.0),
 (98391, '0446530239', 8.0),
 (98686, '0670844527', 8.0),
 (98723, '0671741195', 9.0),
 (98758, '0679735771', 7.0),
 (98787, '0385498802', 6.0),
 (98904, '0671002481', 7.0),
 (99720, '043935806X', 9.0),
 (99955, '067976402X', 8.0),
 (100088, '0385504209', 10.0),
 (100459, '0156006529', 9.0),
 (100644, '0449223604', 8.0),
 (100846, '0345417623', 8.0),
 (100906, '0140298479', 7.0),
 (101209, '0373483694', 5.0),
 (101305, '0446391301', 7.0),
 (101606, '0671038443', 7.0),
 (101620, '0440236673', 7.0),
 (101851, '0836217691', 10.0),
 (101876, '0515118656', 7.0),
 (102275, '0446607657', 9.0),
 (102359, '0671670689', 5.0),
 (102647, '0671894455', 9.0),
 (102702, '0515135216', 10.0),
 (102705, '1558747028', 10.0),
 (102967, '0679731725', 7.0),
 (103336, '0345442822', 8.0),
 (104113, '0316769509', 10.0),
 (104144, '0515131091', 8.0),
 (104211, '0425182878', 8.0),
 (104399, '0553274295', 10.0),
 (104429, '0786883375', 4.0),
 (104636, '0064400042', 9.0),
 (104657, '0671880314', 9.0),
 (104665, '0064471047', 9.0),
 (105028, '0440211727', 8.0),
 (105054, '006447108X', 7.0),
 (105058, '0375707972', 7.0),
 (105214, '0345334531', 9.0),
 (105221, '0440237688', 9.0),
 (105374, '0553274503', 8.0),
 (105517, '1558743790', 7.0),
 (105937, '0446605484', 8.0),
 (105979, '0312422156', 9.0),
 (106007, '0345325818', 8.0),
 (106225, '0380718839', 8.0),
 (106768, '0440180295', 9.0),
 (106849, '0380718332', 10.0),
 (107244, '0440225701', 10.0),
 (107301, '0385720114', 7.0),
 (107784, '059035342X', 5.0),
 (108005, '1565122968', 7.0),
 (108155, '014029628X', 8.0),
 (108352, '0380716542', 5.0),
 (108405, '0399149392', 8.0),
 (108480, '0515128546', 8.0),
 (108799, '1400030927', 7.0),
 (109491, '0440184053', 10.0),
 (109574, '0836218655', 5.0),
 (109779, '0451190491', 7.0),
 (109901, '0140177396', 8.0),
 (110029, '1573229725', 10.0),
 (110361, '0142004235', 10.0),
 (110373, '0446364800', 7.0),
 (110483, '0441000916', 9.0),
 (110912, '0345356535', 5.0),
 (110934, '0439136350', 9.0),
 (110973, '0060502258', 10.0),
 (111174, '0380727501', 7.0),
 (111190, '0679454454', 9.0),
 (111944, '0345335287', 7.0),
 (112001, '0375700757', 10.0),
 (112026, '0553582801', 8.0),
 (113270, '0060915544', 10.0),
 (113334, '0373218540', 7.0),
 (113519, '0375707972', 8.0),
 (113904, '0060191988', 7.0),
 (114368, '067942573X', 5.0),
 (114414, '0425152251', 6.0),
 (114444, '0671004565', 6.0),
 (114544, '0316601950', 6.0),
 (114868, '0141001771', 6.0),
 (114988, '0385721420', 10.0),
 (115003, '0679774025', 8.0),
 (115435, '0375702709', 10.0),
 (115490, '0553272535', 10.0),
 (115572, '0064409422', 9.0),
 (115692, '0385503822', 8.0),
 (116758, '0767905180', 8.0),
 (116904, '0060199652', 10.0),
 (117111, '0345338588', 7.0),
 (117132, '0440236819', 8.0),
 (117251, '0786868716', 6.0),
 (117384, '006101351X', 5.0),
 (117873, '0316776963', 7.0),
 (118628, '0385498721', 8.0),
 (119575, '0345422384', 6.0),
 (120093, '0440207622', 5.0),
 (120396, '0345430573', 10.0),
 (120598, '042517736X', 5.0),
 (120908, '0385504209', 10.0),
 (121170, '0345350472', 8.0),
 (121606, '014023313X', 8.0),
 (121817, '0440224624', 7.0),
 (122429, '0142000205', 8.0),
 (122440, '0316182540', 8.0),
 (122716, '059035342X', 9.0),
 (122793, '0671027662', 9.0),
 (123056, '0141001828', 8.0),
 (123094, '0345337662', 9.0),
 (123095, '0842329242', 10.0),
 (123257, '067164257X', 8.0),
 (123544, '0451168615', 7.0),
 (123825, '0440217490', 9.0),
 (123867, '0425107469', 10.0),
 (123883, '0373218540', 5.0),
 (123981, '0425121259', 8.0),
 (124078, '0375703764', 10.0),
 (124363, '0446608815', 8.0),
 (124487, '0440234743', 10.0),
 (124597, '0345369335', 6.0),
 (124874, '0767915054', 8.0),
 (124876, '0618002227', 9.0),
 (124983, '1573221937', 6.0),
 (125031, '0553584049', 6.0),
 (125039, '0446515078', 7.0),
 (125203, '0786817070', 5.0),
 (125519, '155874262X', 10.0),
 (125692, '0385335482', 7.0),
 (125774, '0670031909', 10.0),
 (125928, '0553250256', 9.0),
 (126196, '0380723638', 8.0),
 (126296, '044023722X', 6.0),
 (126388, '0451169514', 9.0),
 (126492, '0345384466', 10.0),
 (126604, '0671874349', 6.0),
 (126693, '0553109588', 7.0),
 (126736, '0345404114', 5.0),
 (126814, '0875421180', 10.0),
 (127129, '0449208133', 10.0),
 (127200, '059035342X', 9.0),
 (127233, '0452284295', 4.0),
 (127359, '0380726254', 7.0),
 (127826, '0316788228', 9.0),
 (128085, '0671027387', 10.0),
 (128119, '0375703055', 10.0),
 (128696, '0312924585', 8.0),
 (128835, '0679751521', 5.0),
 (129074, '0515093203', 7.0),
 (129084, '0345417623', 8.0),
 (129338, '0425119920', 10.0),
 (129489, '0425121631', 8.0),
 (129716, '0375406530', 8.0),
 (130474, '0399149392', 10.0),
 (130554, '014034294X', 7.0),
 (130571, '0060934417', 9.0),
 (130658, '0440221471', 4.0),
 (130705, '0440122090', 6.0),
 (131046, '0064407691', 8.0),
 (131154, '0804106304', 7.0),
 (132173, '0515133973', 8.0),
 (132375, '0805063897', 10.0),
 (132930, '067168390X', 10.0),
 (133296, '0671534734', 10.0),
 (133416, '0671011367', 9.0),
 (133571, '0345361792', 8.0),
 (133689, '0425158594', 3.0),
 (133706, '0425163407', 7.0),
 (133747, '0553569074', 8.0),
 (134311, '1573229571', 10.0),
 (134434, '0060929871', 7.0),
 (134797, '1551668998', 7.0),
 (135045, '0740704818', 10.0),
 (135149, '0060508302', 8.0),
 (135265, '0316602051', 9.0),
 (135351, '0671032658', 8.0),
 (135360, '0375708111', 7.0),
 (135376, '0441005748', 10.0),
 (135458, '0812548094', 10.0),
 (135673, '0553280945', 8.0),
 (135703, '0345423135', 8.0),
 (135831, '0312195516', 9.0),
 (136010, '0061009059', 8.0),
 (136139, '0684853523', 9.0),
 (136205, '0064471063', 10.0),
 (136252, '0440224675', 8.0),
 (136326, '1400031346', 8.0),
 (136348, '0743227441', 9.0),
 (136382, '0515111279', 5.0),
 (136491, '0679723161', 9.0),
 (137588, '0385502532', 7.0),
 (137589, '0060928336', 9.0),
 (137688, '0064407667', 9.0),
 (137742, '0373243790', 10.0),
 (138198, '0553580515', 7.0),
 (138543, '0345339703', 10.0),
 (138578, '0316693200', 10.0),
 (138602, '0345253736', 10.0),
 (138844, '0971880107', 6.0),
 (138995, '0446610399', 8.0),
 (139359, '0062502182', 8.0),
 (139742, '0446610100', 8.0),
 (139827, '0441004326', 7.0),
 (139828, '0440236053', 6.0),
 (139913, '0061031410', 9.0),
 (140000, '0061020648', 7.0),
 (140223, '0671527215', 7.0),
 (140358, '0440211727', 5.0),
 (140662, '0743406184', 2.0),
 (141444, '0440213525', 5.0),
 (141491, '0679447156', 10.0),
 (141493, '0446606383', 8.0),
 (141511, '0060934913', 7.0),
 (141710, '0425131769', 7.0),
 (141901, '0060927216', 8.0),
 (141902, '0374121230', 9.0),
 (142121, '044651862X', 9.0),
 (142256, '0446530522', 9.0),
 (142479, '0140077022', 10.0),
 (142524, '0380730200', 8.0),
 (142579, '0515133302', 10.0),
 (142715, '0743418204', 8.0),
 (142745, '0804111359', 3.0),
 (143163, '0743437802', 10.0),
 (143175, '0316666009', 9.0),
 (143415, '037570485X', 8.0),
 (143837, '0385479565', 7.0),
 (143964, '0553096834', 6.0),
 (143968, '014028009X', 9.0),
 (144038, '0440180295', 10.0),
 (144255, '0385424728', 7.0),
 (144318, '0312976275', 9.0),
 (144478, '0446364193', 7.0),
 (144531, '0060085444', 7.0),
 (144555, '0385319207', 10.0),
 (144619, '0061094129', 7.0),
 (145369, '1558743669', 10.0),
 (145449, '0385336314', 8.0),
 (145641, '0061009059', 10.0),
 (146113, '0061009059', 7.0),
 (146230, '0446310786', 10.0),
 (146348, '0836218256', 10.0),
 (146803, '0399145672', 8.0),
 (146932, '0060976845', 10.0),
 (147141, '059035342X', 6.0),
 (147224, '038550120X', 5.0),
 (147451, '0385720106', 8.0),

In [37]:
def invert_dictionary(dictionary):
    """Invert a dictionary
    Args: 
        dictionary (dict): A dictionary
    Returns:
        dict: inverted dictionary
    """
    return {v: k for k, v in dictionary.items()}

In [38]:
def surprise_trainset_to_df(trainset, col_user="User-ID", col_item="ISBN", col_rating="Book-Rating"): 
    df = pd.DataFrame(trainset.all_ratings(), columns=[col_user, col_item, col_rating])
    map_user = trainset._inner2raw_id_users if trainset._inner2raw_id_users is not None else invert_dictionary(trainset._raw2inner_id_users)
    map_item = trainset._inner2raw_id_items if trainset._inner2raw_id_items is not None else invert_dictionary(trainset._raw2inner_id_items)
    df[col_user] = df[col_user].map(map_user)
    df[col_item] = df[col_item].map(map_item)
    return df

In [39]:
trainSet_df = surprise_trainset_to_df(trainSet)

In [ ]:
testSet_df.head()

   User-ID        ISBN  Book-Rating
0      254  0671021001          7.0
1      254  0618002219          9.0
2      254  0142001740          9.0
3      254  0399146431          9.0
4      254  0060934700          9.0

In [40]:
from scipy.sparse import csr_matrix, lil_matrix
from scipy.sparse.linalg import svds
from tqdm import tqdm
tqdm.pandas()

In [41]:
users = trainSet_df['User-ID'].unique()
books = trainSet_df['ISBN'].unique()

In [42]:
trainSet_df['books'] = trainSet_df['ISBN'].progress_apply(lambda x : np.argwhere(books == x)[0][0])
trainSet_df['users'] = trainSet_df['User-ID'].apply(lambda x : np.argwhere(users == x)[0][0])

100%|██████████| 39758/39758 [00:04<00:00, 9614.09it/s]

In [43]:
occurences = lil_matrix((users.shape[0], books.shape[0]), dtype='int8')

def set_occurences(visitor, item , rating):
    occurences[visitor, item] = rating

trainSet_df.apply(lambda row: set_occurences(row['users'], row['books'] , row["Book-Rating"]), axis=1)

occurences

<1266x3133 sparse matrix of type '<class 'numpy.int8'>'
	with 39758 stored elements in List of Lists format>

In [44]:
trainSet_indexed_df = trainSet_df.set_index("User-ID")

In [ ]:
testSet_indexed_df.loc[254]

               ISBN  Book-Rating  books  users
User-ID
254      0671021001          7.0      0      0
254      0618002219          9.0      1      0
254      0142001740          9.0      2      0
254      0399146431          9.0      3      0
254      0060934700          9.0      4      0
254      0066238501          5.0      5      0
254      0380789035         10.0      6      0
254      0380973650          9.0      7      0
254      0439064864          9.0      8      0
254      0439136350          9.0      9      0
254      0439139597          9.0     10      0
254      0451167317          8.0     11      0
254      0451409256          7.0     12      0
254      0451524934          9.0     13      0
254      0451526341          8.0     14      0
254      0590353403          9.0     15      0
254      0618002227          8.0     16      0
254      0679879242          8.0     17      0

## **Knn**

In [45]:
import sklearn
from collections import defaultdict
from operator import itemgetter

In [46]:
R = occurences.toarray()
user_ids = list(trainSet_df["User-ID"].unique())
book_isbn = list(trainSet_df["ISBN"].unique())

knn_df = ratings_from_selected_users_df.copy()
knn_indexed_df = knn_df.set_index('User-ID')

In [47]:
knn_preds_df = pd.DataFrame(R, columns = book_isbn , index = user_ids)
knn_preds_df.head()

,0671021001,0618002219,0142001740,0399146431,0060934700,0066238501,0380789035,0380973650,0439064864,0439136350,...,0804108447,0812522397,0060508302,8477204055,0446671002,0375414657,0140620338,2253150711,3426600218,0399144315
254,7,9,9,9,9,5,10,9,9,9,...,0,0,0,0,0,0,0,0,0,0
638,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
882,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1131,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1435,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
from sklearn.neighbors import NearestNeighbors
model_knn=NearestNeighbors(metric = "cosine" , algorithm="brute")
model_knn.fit(occurences)

NearestNeighbors(algorithm='brute', metric='cosine')

In [50]:
lookup_df = knn_preds_df.reset_index()
distances, indices = model_knn.kneighbors(lookup_df.iloc[5, 1:].values.reshape(1,-1), n_neighbors = 10)

candidates = defaultdict(float)
  
for index ,similarUser in enumerate(indices.flatten()):
  userId = knn_preds_df.index[similarUser]
  userSimilarityScore = 1 - distances.flatten()[index]
  theirRatings = list(zip(knn_indexed_df.loc[userId]["ISBN" ] , knn_indexed_df.loc[userId]["Book-Rating" ]))
  for rating in theirRatings:
    candidates[rating[0]] += ((rating[1] / 10.0) * userSimilarityScore)

primary_userId = knn_preds_df.index[5]
watched_list = set(trainSet_indexed_df.loc[primary_userId]["ISBN" ])

pos = 0
for itemID, ratingSum in sorted(candidates.items(), key=itemgetter(1), reverse=True):
  if not itemID in watched_list:
    book_title = set(knn_indexed_df[knn_indexed_df["ISBN"] == itemID]["Book-Title"])
    print(f'{pos+1}: {next(iter(book_title))} : {ratingSum}')
          #topN[int(trainSet.to_raw_uid(uiid))].append( (int(movieID), 0.0) )
    pos += 1
    if (pos >= 10):
      break

1: The Westing Game (Now in Speak!) : 0.7999999999999998
2: The Catcher in the Rye : 0.7750011701061946
3: The Return of the King (The Lord of the Rings, Part 3) : 0.4963578866971421
4: The Hobbit: or There and Back Again : 0.4841471291905942
5: Midnight in the Garden of Good and Evil: A Savannah Story : 0.47153123375855116
6: Suzanne's Diary for Nicholas : 0.44111061668388396
7: Attack Of The Deranged Mutant Killer Snow Goons : 0.30298786315964343
8: The Venetian's Wife: A Strangely Sensual Tale of a Renaissance Explorer, a Computer, and a Metamorphosis : 0.30298786315964343
9: Homicidal Psycho Jungle Cat: A Calvin and Hobbes Collection : 0.30298786315964343
10: The Vampire Lestat (Vampire Chronicles, Book II) : 0.30298786315964343

In [ ]:
lookup_df = knn_preds_df.reset_index()
distances, indices = model_knn.kneighbors(lookup_df.iloc[5, 1:].values.reshape(1,-1), n_neighbors = 10)

candidates = defaultdict(float)
  
for index ,similarUser in enumerate(indices.flatten()):
  userId = knn_preds_df.index[similarUser]
  userSimilarityScore = 1 - distances.flatten()[index]
  theirRatings = list(zip(knn_indexed_df.loc[userId]["ISBN" ] , knn_indexed_df.loc[userId]["Book-Rating" ]))
  for rating in theirRatings:
    candidates[rating[0]] += ((rating[1] / 10.0) * userSimilarityScore)

primary_userId = knn_preds_df.index[5]
watched_list = set(testSet_indexed_df.loc[primary_userId]["ISBN" ])

pos = 0
for itemID, ratingSum in sorted(candidates.items(), key=itemgetter(1), reverse=True):
  if not itemID in watched_list:
    book_title = set(knn_indexed_df[knn_indexed_df["ISBN"] == itemID]["Book-Title"])
    print(f'{pos+1}: {next(iter(book_title))} : {ratingSum}')
          #topN[int(trainSet.to_raw_uid(uiid))].append( (int(movieID), 0.0) )
    pos += 1
    if (pos >= 10):
      break

1: Harry Potter and the Prisoner of Azkaban (Book 3) : 3.213944502145666
2: Harry Potter and the Chamber of Secrets (Book 2) : 3.13335888925804
3: Harry Potter and the Sorcerer's Stone (Book 1) : 2.937513662039083
4: Harry Potter and the Order of the Phoenix (Book 5) : 2.9126190136058616
5: Harry Potter and the Goblet of Fire (Book 4) : 2.7204975479652305
6: Scientific Progress Goes 'Boink':  A Calvin and Hobbes Collection : 1.5716065727850648
7: It's A Magical World: A Calvin and Hobbes Collection : 1.5716065727850648
8: Calvin and Hobbes : 1.3029878631596432
9: Ender's Shadow : 1.229140943230836
10: Love You Forever : 1.2269797854432052

## **Gradient Descent Approach**

In [112]:
class MF():
    
    def __init__(self, R, K, alpha, beta, iterations):
        """
        Perform matrix factorization to predict empty
        entries in a matrix.
        
        Arguments
        - R (ndarray)   : user-item rating matrix
        - K (int)       : number of latent dimensions
        - alpha (float) : learning rate
        - beta (float)  : regularization parameter
        """
        
        self.R = R
        self.num_users, self.num_items = R.shape
        self.K = K
        self.alpha = alpha
        self.beta = beta
        self.iterations = iterations

    def train(self):
        # Initialize user and item latent feature matrice
        self.P = np.random.normal(scale=1./self.K, size=(self.num_users, self.K))
        self.Q = np.random.normal(scale=1./self.K, size=(self.num_items, self.K))
        
        # Initialize the biases
        self.b_u = np.zeros(self.num_users)
        self.b_i = np.zeros(self.num_items)
        self.b = np.mean(self.R[np.where(self.R != 0)])
        
        # Create a list of training samples

        i,j = self.R.nonzero()
        values = self.R[self.R.nonzero()]
        self.samples = list(zip(i , j, values))
        
        # Perform stochastic gradient descent for number of iterations
        training_process = []
        for i in range(self.iterations):
            np.random.shuffle(self.samples)
            self.sgd()
            mse = self.mse()
            training_process.append((i, mse))
            if (i+1) % 10 == 0:
                print("Iteration: %d ; error = %.4f" % (i+1, mse))
        
        return training_process

    def mse(self):
        """
        A function to compute the total mean square error
        """
        xs, ys = self.R.nonzero()
        predicted = self.full_matrix()
        error = 0
        for x, y in zip(xs, ys):
            error += pow(self.R[x, y] - predicted[x, y], 2)
        return np.sqrt(error)

    def sgd(self):
        """
        Perform stochastic graident descent
        """
        for i, j, r in self.samples:
            # Computer prediction and error
            prediction = self.get_rating(i, j)
            e = (r - prediction)
            
            # Update biases
            self.b_u[i] += self.alpha * (e - self.beta * self.b_u[i])
            self.b_i[j] += self.alpha * (e - self.beta * self.b_i[j])
            
            # Create copy of row of P since we need to update it but use older values for update on Q
            P_i = self.P[i, :][:]
            
            # Update user and item latent feature matrices
            self.P[i, :] += self.alpha * (e * self.Q[j, :] - self.beta * self.P[i,:])
            self.Q[j, :] += self.alpha * (e * P_i - self.beta * self.Q[j,:])

    def get_rating(self, i, j):
        """
        Get the predicted rating of user i and item j
        """
        prediction = self.b + self.b_u[i] + self.b_i[j] + self.P[i, :].dot(self.Q[j, :].T)
        return prediction
    
    def full_matrix(self):
        """
        Computer the full matrix using the resultant biases, P and Q
        """
        return mf.b + mf.b_u[:,np.newaxis] + mf.b_i[np.newaxis:,] + mf.P.dot(mf.Q.T)

In [116]:
R = occurences.toarray()

mf = MF(R, K=18, alpha=0.025, beta=0.11, iterations=100)
training_process = mf.train()
print()
print("P x Q:")
print(mf.full_matrix())

Iteration: 10 ; error = 218.9090
Iteration: 20 ; error = 125.2005
Iteration: 30 ; error = 97.9950
Iteration: 40 ; error = 87.7751
Iteration: 50 ; error = 83.4350
Iteration: 60 ; error = 80.9987
Iteration: 70 ; error = 79.0806
Iteration: 80 ; error = 78.0168
Iteration: 90 ; error = 76.6679
Iteration: 100 ; error = 76.3715
Iteration: 110 ; error = 76.4955

P x Q:
[[ 7.06263539  8.9674475   9.07501776 ...  7.89773152  7.66433462
   8.70192504]
 [10.07739318  8.45240618  9.78887259 ...  9.04557149  8.30476629
   9.24376221]
 [ 8.49638162  8.40539204  7.03751895 ...  8.20945984  7.32809605
   8.50735537]
 ...
 [ 7.81862043  9.17078653  7.91546996 ...  7.44256237  7.01429212
   7.91184062]
 [ 6.73989715  7.23868676  7.55378879 ...  7.2873189   6.65117934
   7.86336653]
 [ 7.28406851  7.07869426 10.20797312 ...  8.07478664  7.32397843
   8.40818706]]

In [117]:
user_ids = list(trainSet_df["User-ID"].unique())
book_isbn = list(trainSet_df["ISBN"].unique())

In [123]:
gd_preds_df = pd.DataFrame(mf.full_matrix(), columns = book_isbn , index = user_ids).transpose()
gd_preds_df.head()

,254,638,882,1131,1435,2033,2276,2766,2891,3363,...,276050,276165,276231,276641,276680,277427,277523,278026,278194,278633
0671021001,7.062635,10.077393,8.496382,6.455231,6.723503,9.585289,7.891640,7.339411,7.907581,9.918631,...,8.917999,8.473827,7.761558,7.308885,7.962334,7.868873,9.073232,7.818620,6.739897,7.284069
0618002219,8.967448,8.452406,8.405392,7.294543,7.017708,8.804449,8.253110,8.804819,8.204711,8.697177,...,8.914875,9.281996,7.097281,7.523401,9.367004,9.257070,9.661221,9.170787,7.238687,7.078694
0142001740,9.075018,9.788873,7.037519,8.691557,8.130050,9.358193,10.364392,8.885104,7.308093,9.898514,...,7.899492,9.467586,6.823891,7.302568,8.088035,8.630325,10.463299,7.915470,7.553789,10.207973
0399146431,8.772271,9.109297,8.246717,7.739870,7.814610,8.174531,8.949325,8.132709,8.088286,9.191119,...,8.467352,9.125739,7.183894,7.298688,8.063552,8.527859,9.611618,7.977392,7.096762,8.295586
0060934700,8.809140,8.752890,8.937013,7.388430,7.232323,8.037257,8.201036,7.655429,7.893583,9.237220,...,7.713889,9.234468,7.047241,7.009505,8.048229,8.813733,9.219390,7.615901,7.061326,7.636776

## **Singular Value Decomposition**

In [51]:
matrix = occurences.toarray()

user_ratings_mean = np.mean(matrix, axis = 1)
R_demeaned = matrix - user_ratings_mean.reshape(-1, 1)

In [52]:
# The number of factors to factor the user-item matrix.
NUMBER_OF_FACTORS_MF = 20

#Performs matrix factorization of the original user item matrix
U, sigma, Vt = svds(R_demeaned, k = NUMBER_OF_FACTORS_MF)

In [53]:
sigma = np.diag(sigma)
sigma.shape

(20, 20)

In [54]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)

In [55]:
user_ids = list(trainSet_df["User-ID"].unique())
book_isbn = list(trainSet_df["ISBN"].unique())

In [56]:
svd_preds_df = pd.DataFrame(all_user_predicted_ratings, columns = book_isbn , index = user_ids).transpose()
svd_preds_df.head()

,254,638,882,1131,1435,2033,2276,2766,2891,3363,...,276050,276165,276231,276641,276680,277427,277523,278026,278194,278633
0671021001,0.586570,1.282109,0.375380,0.220425,0.254447,0.159639,0.121169,0.895051,0.303259,0.155852,...,0.698578,0.958265,0.169356,-0.009870,0.966641,0.380486,0.014790,0.050498,0.001345,0.928735
0618002219,1.379350,0.100699,0.036869,0.044341,0.026789,1.606833,-0.044463,0.055137,0.073986,0.163801,...,0.212075,1.495326,0.065728,-0.007280,0.063345,0.038267,0.057658,-0.022342,-0.030406,0.090262
0142001740,0.908173,0.855895,1.303663,0.615177,0.436564,-0.202156,-0.028547,0.468710,1.297001,0.718573,...,0.689485,0.605624,0.369816,0.198104,0.947736,1.049488,-0.005275,0.018438,0.128819,0.502789
0399146431,0.744724,0.032558,0.060102,0.114030,0.053355,0.806037,-0.095068,0.011834,0.023781,0.071161,...,0.147758,0.999411,0.114693,0.025897,0.112784,0.378293,0.050111,0.110190,0.013084,-0.042122
0060934700,0.255157,0.158446,0.013176,-0.076874,0.000316,0.214936,0.094750,0.218515,0.035855,0.009387,...,0.164042,0.121812,-0.061042,0.001832,0.105879,0.236114,-0.019625,0.005769,0.024797,0.056229

## **Evaluation Time**

In [57]:
class CFRecommender:
    
    MODEL_NAME = 'Collaborative Filtering'
    
    def __init__(self, cf_predictions_df, items_df=None):
        self.cf_predictions_df = cf_predictions_df
        self.items_df = items_df
        
    def get_model_name(self):
        return self.MODEL_NAME
      
    def recommend_items(self, user_id, items_to_ignore=[], topn=10, verbose=False):
        # Get and sort the user's predictions
        sorted_user_predictions = self.cf_predictions_df[user_id].sort_values(ascending=False).reset_index().rename(columns={user_id: 'Book-Rating', 'index' : "ISBN"})

        # Recommend the highest predicted rating content that the user hasn't seen yet.
        recommendations_df = sorted_user_predictions[~sorted_user_predictions['ISBN'].isin(items_to_ignore)].sort_values('Book-Rating', ascending = False).head(topn)

        if verbose:
            if self.items_df is None:
                raise Exception('"items_df" is required in verbose mode')

            recommendations_df = recommendations_df.merge(self.items_df, how = 'left', 
                                                          left_on = 'ISBN', 
                                                          right_on = 'ISBN')[['Book-Rating', 'ISBN' , "Book-Title" ]]


        return recommendations_df
    
cf_recommender_model = CFRecommender(svd_preds_df, books_df)

In [92]:
lookup_df.head()

,index,0671021001,0618002219,0142001740,0399146431,0060934700,0066238501,0380789035,0380973650,0439064864,...,0804108447,0812522397,0060508302,8477204055,0446671002,0375414657,0140620338,2253150711,3426600218,0399144315
0,254,7,9,9,9,9,5,10,9,9,...,0,0,0,0,0,0,0,0,0,0
1,638,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,882,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1131,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1435,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
trainSet_df.head()

   User-ID        ISBN  Book-Rating  books  users
0      254  0671021001          7.0      0      0
1      254  0618002219          9.0      1      0
2      254  0142001740          9.0      2      0
3      254  0399146431          9.0      3      0
4      254  0060934700          9.0      4      0

In [ ]:
read_books = list(set(trainSet_indexed_df.loc[882]["ISBN" ]))
read_books

['0440235162',
 '0380018179',
 '0553250426',
 '067101420X',
 '067976402X',
 '0743457943',
 '0515134368',
 '0373484224',
 '0515135062',
 '0517556278',
 '0064401847',
 '0553572997',
 '0385504209',
 '0553280589',
 '0373218400',
 '0679429220',
 '0553272586']

    Book-Rating        ISBN                                         Book-Title
0      3.800989  0385504209                                  The Da Vinci Code
1      1.177254  044021145X                                           The Firm
2      1.125826  059035342X  Harry Potter and the Sorcerer's Stone (Harry P...
3      1.058253  0439064872   Harry Potter and the Chamber of Secrets (Book 2)
4      1.043218  0671027360                                Angels &amp; Demons
5      0.997581  0452282152                          Girl with a Pearl Earring
6      0.980006  0345337662                         Interview with the Vampire
7      0.973476  0440214041                                  The Pelican Brief
8      0.902832  0440211727                                     A Time to Kill
9      0.883799  0316666343                          The Lovely Bones: A Novel
10     0.837825  0142001740                            The Secret Life of Bees
11     0.811175  0345313860   The Vampire Lestat (Vampire Chronicles, Book II)
12     0.810875  0312195516                The Red Tent (Bestselling Backlist)
13     0.769593  0345370775                                      Jurassic Park
14     0.764107  0440213525                                         The Client

In [ ]:
interactions_full_indexed_df = selected_ratings_df.set_index('User-ID')
interactions_train_indexed_df = book_ratings_train_df.set_index('User-ID')
interactions_test_indexed_df = book_ratings_test_df.set_index('User-ID')

In [ ]:
watched_list = set(testSet_df.loc[primary_userId]["ISBN" ])

In [ ]:
x = lookup_df["0671021001"].values

In [ ]:
y = lookup_df["0060934700"].values

In [105]:
from scipy.spatial.distance import cosine

In [ ]:
cosine(x , y)

0.8664874673807589

In [ ]:
def get_items_interacted(person_id, interactions_df):
  interacted_items = interactions_df.loc[person_id]['Book-Title']
  return set(interacted_items if type(interacted_items) == pd.Series else [interacted_items])

In [ ]:
set(testSet_indexed_df.index.values)

{32773,
 204813,
 270352,
 229409,
 32802,
 65584,
 8245,
 57398,
 81977,
 49212,
 8253,
 204864,
 245827,
 49225,
 131154,
 90198,
 98391,
 139359,
 278633,
 41084,
 180348,
 65663,
 155778,
 196738,
 163973,
 213126,
 213150,
 229551,
 123056,
 114868,
 237748,
 254144,
 73923,
 123094,
 123095,
 270554,
 188659,
 254201,
 16634,
 254,
 57599,
 254206,
 221445,
 8454,
 270605,
 49422,
 106768,
 114988,
 90417,
 49460,
 115003,
 74056,
 16718,
 65877,
 254299,
 106849,
 33124,
 24933,
 229741,
 123257,
 270713,
 98686,
 147839,
 147847,
 16795,
 98723,
 237990,
 180651,
 98758,
 270801,
 139742,
 172512,
 98787,
 164323,
 270820,
 82407,
 8681,
 41455,
 238065,
 156150,
 270838,
 90616,
 254465,
 221705,
 16916,
 66073,
 213531,
 221732,
 246311,
 238120,
 74286,
 139827,
 139828,
 156214,
 82497,
 197206,
 98904,
 17003,
 156269,
 638,
 139913,
 156300,
 123544,
 189080,
 205473,
 172742,
 140000,
 164584,
 115435,
 107244,
 246507,
 246513,
 197364,
 221948,
 115490,
 148258,
 107301,
 33580,
 156467,
 41781,
 25409,
 271176,
 222035,
 148314,
 271195,
 246634,
 41841,
 882,
 115572,
 164728,
 189334,
 50073,
 123825,
 91058,
 254899,
 181176,
 140223,
 271306,
 123867,
 238557,
 91103,
 246759,
 91113,
 123883,
 115692,
 263163,
 222220,
 66574,
 238613,
 33818,
 197659,
 91184,
 50225,
 140358,
 189516,
 123981,
 132173,
 222296,
 271448,
 271460,
 1131,
 42093,
 148590,
 189558,
 66680,
 214138,
 230522,
 33933,
 205980,
 263325,
 124078,
 33974,
 238781,
 271558,
 9417,
 91342,
 58594,
 206074,
 271622,
 107784,
 148744,
 247055,
 238864,
 247060,
 132375,
 238889,
 214315,
 165183,
 148804,
 83287,
 247129,
 271705,
 173415,
 140662,
 25981,
 66942,
 99720,
 189835,
 9613,
 75149,
 1435,
 198046,
 148898,
 173481,
 181687,
 165308,
 17859,
 165319,
 247240,
 247241,
 124363,
 42458,
 263645,
 165345,
 206305,
 108005,
 34300,
 255489,
 189973,
 17950,
 157247,
 124487,
 149069,
 206423,
 157273,
 206438,
 173679,
 99955,
 108155,
 9856,
 18067,
 247447,
 83637,
 124597,
 91832,
 83646,
 263877,
 206534,
 50895,
 83671,
 75485,
 222941,
 206563,
 100088,
 214786,
 59150,
 34588,
 59172,
 173860,
 231210,
 108352,
 132930,
 182085,
 182086,
 75591,
 231237,
 264031,
 272225,
 223087,
 108405,
 165758,
 59269,
 264082,
 42914,
 190374,
 26544,
 223154,
 231351,
 231354,
 182202,
 108480,
 247752,
 124874,
 124876,
 223190,
 264152,
 67547,
 239584,
 231393,
 165866,
 239594,
 2033,
 26620,
 26621,
 223231,
 67591,
 174092,
 116758,
 75819,
 247852,
 124983,
 84024,
 10314,
 67663,
 206944,
 125031,
 100459,
 125039,
 157811,
 264317,
 264321,
 141444,
 174216,
 51350,
 51365,
 116904,
 133296,
 141491,
 141493,
 182459,
 272573,
 141511,
 223431,
 223438,
 10447,
 174304,
 2276,
 166123,
 43246,
 76019,
 190708,
 92405,
 174326,
 51450,
 108799,
 67840,
 182527,
 26883,
 223501,
 125203,
 190741,
 100644,
 133416,
 207148,
 10560,
 51526,
 264525,
 223566,
 264543,
 76151,
 117111,
 92547,
 117132,
 141710,
 207246,
 256402,
 231827,
 149908,
 207259,
 223644,
 240035,
 149934,
 231857,
 76223,
 133571,
 190923,
 190925,
 264657,
 43481,
 207339,
 100846,
 207349,
 166391,
 117251,
 174596,
 240144,
 158226,
 51742,
 68128,
 100906,
 223787,
 158254,
 133689,
 76352,
 133706,
 141901,
 141902,
 125519,
 158295,
 68185,
 240219,
 43619,
 133747,
 174726,
 207494,
 117384,
 92810,
 207499,
 19085,
 248464,
 60050,
 248477,
 43687,
 232106,
 51883,
 182969,
 273086,
 76483,
 166596,
 232131,
 2766,
 182993,
 76499,
 273113,
 158433,
 76530,
 264947,
 199416,
 125692,
 207616,
 183046,
 240403,
 51992,
 273190,
 142121,
 174892,
 84795,
 43842,
 2891,
 256843,
 125774,
 27472,
 76626,
 60244,
 68436,
 101209,
 199515,
 93047,
 35704,
 43910,
 224138,
 248718,
 84882,
 265115,
 93092,
 207782,
 142256,
 60337,
 215986,
 109491,
 215988,
 240567,
 240568,
 101305,
 68555,
 175052,
 216012,
 11224,
 27617,
 52199,
 125928,
 11245,
 224249,
 93179,
 35836,
 27647,
 257024,
 240643,
 257028,
 109574,
 35857,
 76818,
 35859,
 248850,
 150561,
 19493,
 240700,
 76888,
 27740,
 224349,
 265313,
 117873,
 52350,
 150661,
 76942,
 142479,
 36003,
 134311,
 224430,
 93363,
 257204,
 142524,
 60621,
 19664,
 109779,
 44252,
 191716,
 101606,
 93426,
 142579,
 101620,
 126196,
 19711,
 93453,
 208147,
 134434,
 3363,
 60707,
 36135,
 52521,
 3373,
 159033,
 109901,
 11601,
 126296,
 52584,
 150896,
 68984,
 142715,
 224646,
 216466,
 142745,
 11676,
 36256,
 85426,
 126388,
 150968,
 93629,
 150979,
 36299,
 11724,
 110029,
 69078,
 101851,
 232945,
 101876,
 224764,
 232959,
 232964,
 28177,
 85526,
 208406,
 126492,
 200226,
 69156,
 224809,
 28204,
 167471,
 241204,
 273976,
 273979,
 274004,
 69211,
 20060,
 192093,
 216683,
 61038,
 69232,
 52853,
 126604,
 134797,
 274061,
 85656,
 265889,
 77480,
 52917,
 44728,
 183995,
 20172,
 20180,
 11993,
 126693,
 224997,
 20201,
 69355,
 3827,
 192244,
 192245,
 85757,
 36606,
 216829,
 36609,
 69378,
 69389,
 126736,
 159506,
 110361,
 208668,
 69405,
 249628,
 208671,
 28451,
 110373,
 44852,
 143163,
 225087,
 167746,
 143175,
 266056,
 44893,
 126814,
 118628,
 36715,
 167800,
 274301,
 102275,
 167812,
 135045,
 274308,
 241548,
 110483,
 192428,
 208815,
 4017,
 53174,
 208829,
 200643,
 36807,
 28619,
 36817,
 102359,
 274393,
 28634,
 53220,
 85993,
 184299,
 135149,
 77809,
 61427,
 53241,
 241666,
 249862,
 266268,
 53278,
 217121,
 249894,
 36907,
 266283,
 69684,
 233526,
 143415,
 53304,
 69697,
 159822,
 184401,
 176214,
 135265,
 225379,
 184424,
 258152,
 168047,
 159858,
 168064,
 86145,
 258185,
 94347,
 127129,
 86189,
 135351,
 86202,
 78015,
 135360,
 184513,
 192710,
 274634,
 53456,
 135376,
 168144,
 184532,
 258270,
 127200,
 86243,
 217318,
 233711,
 102647,
 12538,
 127233,
 45315,
 209160,
 209174,
 94494,
 217375,
 135458,
 102702,
 102705,
 168245,
 225595,
 241980,
 110912,
 250184,
 209229,
 201042,
 69971,
 110934,
 242006,
 37208,
 37227,
 53614,
 274808,
 217468,
 110973,
 127359,
 242073,
 61854,
 242083,
 70052,
 258482,
 242106,
 250300,
 61901,
 250330,
 143837,
 209373,
 242143,
 225763,
 258534,
 45557,
 135673,
 225810,
 21011,
 21014,
 135703,
 12824,
 29209,
 37400,
 152099,
 21031,
 102967,
 94787,
 111174,
 201290,
 29259,
 111190,
 266840,
 143964,
 225886,
 143968,
 209516,
 78448,
 266865,
 152186,
 242299,
 37512,
 217740,
 160401,
 135831,
 37538,
 144038,
 234165,
 12982,
 86720,
 275154,
 78553,
 94951,
 201447,
 37644,
 70415,
 119575,
 267033,
 160558,
 86835,
 201526,
 160571,
 62272,
 258884,
 136010,
 37712,
 127826,
 250709,
 29526,
 185176,
 209756,
 21356,
 234359,
 258938,
 144255,
 217986,
 185233,
 21404,
 226205,
 234399,
 103336,
 160681,
 177072,
 193458,
 144318,
 78783,
 259006,
 70594,
 177090,
 95173,
 201674,
 136139,
 201677,
 209875,
 201684,
 242646,
 13273,
 193499,
 259035,
 21484,
 78834,
 193529,
 168954,
 218121,
 70666,
 136205,
 250925,
 259118,
 201776,
 160819,
 209974,
 136252,
 37950,
 54335,
 152645,
 21576,
 62542,
 250962,
 95316,
 128085,
 62558,
 144478,
 87141,
 234597,
 21618,
 128119,
 78973,
 95359,
 136326,
 38023,
 193676,
 144531,
 21659,
 136348,
 29855,
 144555,
 259259,
 259260,
 136382,
 177374,
 177375,
 144619,
 13552,
 201969,
 193778,
 226545,
 267510,
 259320,
 226553,
 251140,
 234765,
 13582,
 161039,
 161041,
 95506,
 177432,
 251164,
 120093,
 136491,
 177458,
 46398,
 111944,
 234828,
 30035,
 5476,
 193898,
 46443,
 251242,
 152946,
 267635,
 243065,
 185722,
 30081,
 38273,
 112001,
 38281,
 62862,
 112026,
 79266,
 62891,
 177590,
 218552,
 218568,
 5582,
 153054,
 218608,
 62966,
 251394,
 87555,
 275970,
 161299,
 13850,
 251422,
 243236,
 202277,
 259626,
 259629,
 210485,
 22074,
 226879,
 30273,
 30276,
 120396,
 79441,
 276050,
 243294,
 235105,
 243328,
 226965,
 210587,
 38556,
 95903,
 87712,
 243360,
 104113,
 128696,
 95932,
 169663,
 276165,
 104144,
 227025,
 169682,
 202462,
 169699,
 95991,
 210685,
 268030,
 268032,
 169735,
 276231,
 235282,
 104211,
 120598,
 30487,
 30511,
 46909,
 259901,
 71490,
 128835,
 30533,
 268110,
 259930,
 79740,
 235392,
 87938,
 55187,
 87964,
 63394,
 153513,
 6073,
 210874,
 251843,
 251844,
 104399,
 145369,
 104429,
 30711,
 268300,
 30735,
 210959,
 178199,
 178201,
 194600,
 145449,
 129074,
 88122,
 129084,
 153662,
 178240,
 120908,
 14422,
 260183,
 22625,
 6242,
 96357,
 79977,
 6251,
 194676,
 153718,
 227447,
 14456,
 63625,
 55438,
 276641,
 88229,
 219301,
 243879,
 252071,
 6323,
 96440,
 14521,
 104636,
 96448,
 227520,
 55490,
 55492,
 55493,
 153797,
 276680,
 104657,
 47316,
 104665,
 243930,
 88283,
 145641,
 162030,
 30972,
 162052,
 30994,
 ...}

In [87]:
def GetAllPredictions(df):

  topN = defaultdict(list)

  for userId in set(trainSet_indexed_df.index.values):
    read_books = list(set(trainSet_indexed_df.loc[userId]["ISBN" ]))
    recommendations_df = cf_recommender_model.recommend_items(userId , read_books, 15 , True)
    topN[userId].append(list(zip(recommendations_df["ISBN" ] ,recommendations_df["Book-Title"] ,recommendations_df["Book-Rating" ])))
    
  return topN

In [76]:
topNnew = defaultdict(list)

In [88]:
topNPredictions[17950][0][0]

('043935806X',
 'Harry Potter and the Order of the Phoenix (Book 5)',
 2.6568633188118556)

# Evaluation

In [93]:
from sklearn.metrics.pairwise import cosine_similarity

In [107]:
from scipy.spatial.kdtree import distance_matrix
import itertools

from surprise import accuracy
from collections import defaultdict

class RecommenderMetrics:
  
    def GetTopNPredictions(cf_recommender_model, trainSet_indexed_df):

      topN = defaultdict(list)
      for userId in set(trainSet_indexed_df.index.values):
        read_books = list(set(trainSet_indexed_df.loc[userId]["ISBN" ]))
        recommendations_df = cf_recommender_model.recommend_items(userId , read_books, 10 , True)
        topN[userId].append(list(zip(recommendations_df["ISBN" ] ,recommendations_df["Book-Title"] ,recommendations_df["Book-Rating" ])))
      
      return topN

    def HitRate(topNPredicted, leftOutPredictions):
        hits = 0
        total = 0

        # For each left-out rating
        for leftOut in leftOutPredictions:
            userID = leftOut[0]
            leftOutBookISBN = leftOut[1]
            # Is it in the predicted top 10 for this user?
            hit = False
            for BookISBN, BookTitle, predictedRating in topNPredicted[int(userID)][0]:
                if (leftOutBookISBN == BookISBN):
                    hit = True
                    break
            if (hit) :
                hits += 1

            total += 1

        # Compute overall precision
        return hits/total

    def CumulativeHitRate(topNPredicted, leftOutPredictions, ratingCutoff=7.0):
        hits = 0
        total = 0

        # For each left-out rating
        for userID, leftOutBookISBN, actualRating in leftOutPredictions:
            # Only look at ability to recommend things the users actually liked...
            if (actualRating >= ratingCutoff):
                # Is it in the predicted top 10 for this user?
                hit = False
                for BookISBN,BookTitle, predictedRating in topNPredicted[int(userID)][0]:
                    if (leftOutBookISBN == BookISBN):
                        hit = True
                        break
                if (hit) :
                    hits += 1

                total += 1

        # Compute overall precision
        return hits/total

    def RatingHitRate(topNPredicted, leftOutPredictions):
        hits = defaultdict(float)
        total = defaultdict(float)

        # For each left-out rating
        for userID, leftOutBookISBN, actualRating in leftOutPredictions:
            # Is it in the predicted top N for this user?
            hit = False
            for BookISBN,BookTitle, predictedRating in topNPredicted[int(userID)][0]:
                if (leftOutBookISBN == BookISBN):
                    hit = True
                    break
            if (hit) :
                hits[actualRating] += 1

            total[actualRating] += 1

        # Compute overall precision
        for rating in sorted(hits.keys()):
            print (rating, hits[rating] / total[rating])

    def AverageReciprocalHitRank(topNPredicted, leftOutPredictions):
        summation = 0
        total = 0
        # For each left-out rating
        for userID, leftOutBookISBN, actualRating in leftOutPredictions:
            # Is it in the predicted top N for this user?
            hitRank = 0
            rank = 0
            for BookISBN,BookTitle, predictedRating in topNPredicted[int(userID)][0]:
                rank = rank + 1
                if (leftOutBookISBN == BookISBN):
                    hitRank = rank
                    break
            if (hitRank > 0) :
                summation += 1.0 / hitRank

            total += 1

        return summation / total

    # What percentage of users have at least one "good" recommendation
    def UserCoverage(topNPredicted, numUsers, ratingThreshold=0):
        hits = 0
        for userID in topNPredicted.keys():
            hit = False
            for movieID, predictedRating in topNPredicted[userID]:
                if (predictedRating >= ratingThreshold):
                    hit = True
                    break
            if (hit):
                hits += 1

        return hits / numUsers

    def Diversity(topNPredicted):
        n = 0
        total = 0
        for userID in topNPredicted.keys():
            pairs = itertools.combinations(topNPredicted[userID][0], 2)
            for pair in pairs:
              #Here we will use sklearn cosing similarity function 
                book1 = pair[0][0]
                book2 = pair[1][0]
                x = lookup_df[book1].values 
                y = lookup_df[book2].values
                distance = cosine(x, y)
                similarity = 1 - distance
                total += similarity
                n += 1

        S = total / n
        return (1-S)

    def Novelty(topNPredicted, rankings):
        n = 0
        total = 0
        for userID in topNPredicted.keys():
            for rating in topNPredicted[userID][0]:
                BookISBN = rating[0]
                rank = rankings[rankings["ISBN"] == BookISBN].index
                total += rank
                n += 1
        return total / n

In [99]:
topNPredictions = RecommenderMetrics.GetTopNPredictions(cf_recommender_model ,trainSet_indexed_df )

In [102]:
hitRate = RecommenderMetrics.HitRate(topNPredictions , testSet)

In [108]:
DiversityCalc = RecommenderMetrics.Diversity(topNPredictions)

In [109]:
ranking_df = recSys_df.groupby(["ISBN"]).agg({ "User-ID" : "count" , "Book-Rating" : "mean"}).reset_index().sort_values(by = "User-ID" , ascending = False)

In [111]:
NoveltyCalc = RecommenderMetrics.Novelty(topNPredictions , ranking_df)